@page {
  size: a4 portrait;  /* 210mm x 297mm */
  @frame header_frame {
    -pdf-frame-content: header_content;
    left: 6mm; width: 198mm; top: 6mm; height: 50mm;
  }
  @frame footer_frame {
    -pdf-frame-content: footer_content;
    left: 10mm; width: 190mm; top: 285mm; height: 15mm;
  }
  @frame content_frame {
    left: 10mm; width: 190mm; top: 60mm; height: 215mm;
  }
}

@font-face {
  font-family: 'Muli';
  src: url(https://fonts.googleapis.com/css?family=Muli:400);
}
@font-face {
  font-family: 'Muli-Light';
  src: url(https://fonts.googleapis.com/css?family=Muli:300);
}

.break {page-break-before: always;}
table {page-break-inside: avoid;}
.pull-right {text-align: right;}
.center {text-align: center;}

#header_content table {
  width: 100%; height: 75pt;
  padding-top: 15pt;
  background: #337ab7; color: #fff;
}
#header_content h1 {margin: 0 0 0 10mm; font-weight: normal;}
#header_content h3 {margin: 0 10mm 0 0; font-family: 'Muli-Light'; font-weight: normal;}

#footer_content {color: #777; font-size: 11px; line-height: 18px;}
#footer_content table {width: 100%;}
#footer_content table td {width: 50%; height: 24px;}
#footer_content table td .center {display: inline-block;}

h1 {font-size: 24px;}
h3 {font-size: 16px;}
body {
  font-family: 'Muli';
  font-size: 14px; line-height: 18px;
}

/*.address {
  padding-top: 12mm;
}*/
.address table {
  width: 100%;
}
.address td {
  vertical-align: top;
}
.address .user, .address .company {
  padding-left: 10mm;
}

p.indent {
  padding-left: 10mm;
}
.content h1 {font-size: 24px; color: #337ab7;}

.content table {
  /*border: 1px solid #ccc;*/
  border-spacing: 0;
}
.content table .head td {
  line-height: 14px;
  background-color: #337ab7;
  color: #FFF;
  padding: 5px 5px;
}
.content table .row td {font-size: 14px; line-height: 16px; padding: 5px 5px;}
/*.content table .row td.pull-right {text-align: right;}*/
.content table .even td {background-color: #f9f9f9;}
