# v1.10+ blocked by stripe 1.0.0
Django==1.9.13
django-registration-redux>=1.4
djangorestframework>=3.4.1
django-nose>=1.4.3
django-languages
django-reversion==2.0.8
django-rosetta
django-sendfile
# native lib failed for voice token see http://bit.ly/2hQAzTz
django-two-factor-auth==1.6.0
# git+https://github.com/patroqueeet/django-two-factor-auth.git@master#egg=django-two-factor-auth
# required by two factor:
django-formtools==2.0
# required by djnaog-phonenumbes-field
phonenumbers

django-otp
django-model-utils
# django rest api filter capabilities:
django-filter

# PYTHON
natsort
raven
cssmin==0.2.0
jsmin==2.0.11
psycopg2==2.5.4
python-dateutil==2.2
regex==2014.11.14
uWSGI
wsgiref==0.1.2
python-memcached
ipython
pytz
# see https://github.com/celery/django-celery/blob/master/requirements/default.txt
git+https://github.com/xhtml2pdf/xhtml2pdf.git@master#egg=xhtml2pdf
sorl-thumbnail
djrill
diff-match-patch
model_mommy>=1.3.1
# required by two factor auth
twilio==5.7.0

#-- zinnia reqs
django-mptt>=0.8.5
django-tagging>=0.4.3
beautifulsoup4>=4.1.3
mots-vides>=2015.2.6
django-contrib-comments>=1.7.1
pyparsing
django-xmlrpc
# 0.17 for dj 1.9...
django-blog-zinnia==0.18.1
# git+https://github.com/Fantomas42/django-blog-zinnia.git@develop#egg=django-blog-zinnia
Pillow
django-app-namespace-template-loader
# zinnia-theme-bootstrap==0.5.1 blocked by https://goo.gl/Gt92I2
git+https://github.com/django-blog-zinnia/zinnia-theme-bootstrap.git@develop#egg=zinnia-theme-bootstrap
docutils
# flatpages:
markdown
django-markdown-app
django-markdownx
git+https://github.com/patroqueeet/django-flatpage-meta.git@master#egg=flatpage_meta
#-- end blog

# DEV EHLPER
ipdbplugin
wand
nose-progressive

# fix https://github.com/xhtml2pdf/xhtml2pdf/issues/318
html5lib==1.0b8

django-storages==1.5.0  # using deprecated dropbox v1
# git+https://github.com/patroqueeet/django-storages.git@master#egg=django-storages
dropbox==6.9.0
django-dbbackup==3.1.3

# Celery
amqp==2.1.1
billiard==3.5.0.2
celery==4.0.0
kombu==4.0.0
vine==1.1.3
django-celery-results
django-celery-beat

# payment
# for django 1.9.*:
dj-stripe
# git+https://github.com/kavdev/dj-stripe.git@1.0.0#egg=djstripe <<< django 1.10+
