{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block body_block %}
{% block header %}
{% include "menu.html" %}
{% endblock %}

<div class="container">
  <div id="auth"  class="form password-reset-container">
    <div class="page-header">
      <h1 class="text-center">{% trans "Reset password" %}</h1>
    </div>
    <div class="col-sm-offset-2 col-sm-8 reset-password-comment">
    {% blocktrans %}
    Forgot your password?  Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
    </div>
    <div class="">
      <form method="post" action="." class="auth-form form-horizontal">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
          <div class="col-sm-8 col-sm-offset-2">
            <input id="{{ field.id_for_label }}" placeholder="E-mail Adresse" maxlength="{{ field.maxlength }}" name="{{ field.name }}" type="{{ field.field.widget.input_type }}" class="form-control">
          </div>
        </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <input type="submit" value="{% trans 'Reset password' %}" class="btn-submit button"/>
          </div>
        </div>
      </form>
  </div>
</div>
{% endblock %}
