
@media only screen and (max-width: 960px)
  body.core
    .add-information-inline
      .date-field
        min-width: 100%
      select
        width: 100%
        margin: 5px 0
      input
        width: 100%
        margin: 5px 0
    .container
      width: 780px
    header
      .container
        .search-box
          +zen-grid-item(5,4)
          .auto-suggestions
            width: +zen-grid-item-width(4.5)
  .table
    &.table-small-font
      font-size: 0.7em
    .tr
      .td
        // a
        //   font-size: 0.9em
        // font-size: 0.9em
        @include align-items(baseline)
    // .th
    //  font-size: 0.9em

@media only screen and (max-width: 800px)

  body.core
    .registration-teaser
      display: none
    .registration-form
      +zen-grid-item(4, 3)
    .container
      width: 100%
    .summary
      padding-bottom: 1.5em
    .newsletter
      padding-top: 1.5em
    blockquote
      p.says
        font-size: 1.4em
    .benefits
      ul > li
        font-size: 1.4em
  .intro
    header.home
      .container
        .menu
          display: initial
          li
            display: block
            text-align: center
            .btn-default.btn-white
              margin-bottom: 10px
            a
              display: initial
    header
      .container
        .search-box
          span.glyphicon
            &.el-icon-search
              font-size: 24x
            &.el-icon-remove
              margin: 14px 0
              padding: 20px 0
          input
            font-size: 16px
            padding: 15px 0 16px 25px
    #mask
      .container
        .mask-wrapper
          .content-wrapper
            .content, .map
              +zen-new-row()
              +zen-grid-item(8,1)
              float: none
            .map
              padding-top: 2em
  #flatpage
    +zen-new-row()
    +zen-grid-item(8, 1)
    .tagline
      padding: 0
  #auth h1
    text-align: center
  //-- change collapse menu breakpoint
  .pull-right-mobile
    float: right
    margin-right: 10px
  .navbar-header
    float: none
  .navbar-left,.navbar-right
    float: none !important
  .navbar-toggle
    display: block
    margin-top: 10px /* Vertial align toggle button*/
  .navbar-fixed-top
    top: 0
    border-width: 0
  .navbar-collapse.collapse
    display: none !important
  .navbar-nav
    float: none !important
    margin-top: 7.5px
  .navbar-nav > li
    float: none
  .navbar-nav > li > a
    padding-top: 10px
    padding-bottom: 10px
  .collapse.in
    display: block !important
  .collapse-expanded
    .dropdown-menu
      position: static
      float: none
      width: auto
      margin-top: 0
      background-color: transparent
      border: 0
      -webkit-box-shadow: none
      box-shadow: none
  //-- end of menu breakpoint
  .intro
    header.home
      .container
        .btn-inline.btn-with-separator
          &:after
            width: 0

/* Hide orange items on 800 - 1000 px screen size */
@media only screen and (min-width: 801px) and (max-width: 1000px)
  .intro
    header.home
      .container
        .menu
          li
            .orange
              display: none

@media only screen and (min-width: 769px)
  /* override bootstrap default class*/
  .navbar-right
    .dropdown-menu
      right: 20px
      top: 110%
  /* Responsive table breakpoint */
  .table
    .tr
      &.th
        .td
          word-break: normal
        @include align-items(flex-end)
        border-bottom: 2px solid $color-gray-lighten
      border-bottom: 1px solid $color-gray-lighten
      &.totals
        border-bottom: 0
      @include display-flex(flex)
      @include flex-flow(row)
      .td
        &:before
          content: none !important
        a
          &.btn-icon
            padding-left: 0
          padding-left: 10px
        &.flex-center
          @include align-items(center) //vertical align center
          @include justify-content(center) //horizontal align center
        &.text-right-flex
          text-align: right
          @include flex-direction(column) //display content y-axis
          @include align-items(flex-end) //align right text (y-axis) desktop
          @include justify-content(flex-start) //align left text (x-axis) desktop
        padding: 0.5em

@media only screen and (max-width: 768px)
  //-- custom order items
  .order-1
    @include order(1)
  .order-2
    @include order(2)
  .order-3
    @include order(3)
  .order-4
    @include order(4)
  .order-5
    @include order(5)
  .order-6
    @include order(6)
  .order-7
    @include order(7)

  //-- responsive table mobile
  .show-mobile
    display: block
  .hide-mobile
    display: none !important //force hide on mobile
  .meta-mobile-only
    display: block
  .bought-at
    font-size: 12px
  .table
    &.table-centered-mobile
      .tr
        padding: 10px
        @include align-items(center)
        @include flex-wrap(wrap)
        @include flex-direction(row)
      .td
        padding-top: 15px
        padding-bottom: 10px
        margin: 5px 0
        a
          padding: 0 5px
          &.btn-icon
            font-size: 1.35em
        &.td-border-right
          border-right: 1px solid $color-light-gray
          a
            margin: 0 10px
        &.td-flex-inline
          width: 50%
          text-align: center
        .custom-typeface-mobile
          font-weight: 400
        @include align-items(center !important) //force align ( chrome inheritance )
        @include justify-content(center)
        //-- make tr looks like column
        width: 100%
    &.table-small-font
      font-size: 1rem
    .tr
      min-height: 70px
      padding: 10px 75px 10px 0
      position: relative
      border: 1px solid #f5f5f5
      // &.th
      //  display: none
      &.option-holders-heading
        font-weight: 700
        background: transparent
        .note
          padding-left: 0
          font-weight: 300
      .buyer-name
        font-weight: 700
        font-size: 1em
      .td
        &.options-view
          margin-top: 10px
        [class*="el-icon-"]
          padding: 0 10px 0 0
          font-size: 20px
        @include flex-basis(auto)
        .truncate
          white-space: nowrap /* No break word */
          overflow: hidden /* truncate content */
          text-overflow: ellipsis /* truncate with ... */
      .number
        line-height: 1.2em
        margin: 5px 0
      .email
        font-style: italic
        font-size: 80%
        @include flex-wrap(nowrap)
        span
          white-space: nowrap /* No break word */
          overflow: hidden /* truncate content */
          text-overflow: ellipsis /* truncate with ... */
      .shares-count
        display: block
      .gray-circle
        .transform-center
          &.large
            font-weight: 700
            font-size: 2em
          &.medium
            font-weight: 700
            font-size: 1.2em
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          -webkit-transform: translate(-50%, -50%) //safari support
          text-align: center
          font-weight: 700
          font-size: 1em
          .shares-count
            font-size: 10px
        width: 60px
        height: 60px
        min-width: 60px
        border-radius: 100%
        background-color: $color-gray
        color: #fff
        position: absolute
        top: 50%
        right: 15px
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%) //safari support
        font-size: 10px
      .td
        word-break: normal
        padding: 0 10px
      //-- end responsive table mobile
  body.core
    .container
      .td
        .el-icon-exclamation-sign
          display: none
      .control-label
        padding-left: 15px
    header
      .menu
        li
          margin: 5px 0
      .navbar-collapse
        border: 0
        box-shadow: unset
        .navbar-header
          width: 100%

@media only screen and (max-width: 650px)
  .main-screenshot
    .screenshot
      background-position: center
      background-size: 100% 100%

@media only screen and (max-width: 640px)

  body.core
    .registration-form
      width: 75%
      margin-left: 15%
    .container
      h1
        font-size: $font-size-tablet
      .footer
        width: 100%
        text-align: center
      .panel-column
        text-align: center
        a
          margin: 3px 0
          display: block
  body
    .form-control
      margin-bottom: 10px
    .intro
      .validate.ng-pristine
        input
          width: 50%
      .summary
        padding-bottom: 2em
      .newsletter
        padding-top: 2em
      blockquote
        p.says
          font-size: 1.4em
      .benefits
        ul > li
          display: block
          padding-bottom: 1em
          width: 100%
    header
      min-height: 180px
      text-align: center
      .container
        .logo
          +zen-grid-item(8,1)
          float: none
          margin-bottom: 10px
        .search-box
          +zen-grid-item(8,1)
          float: none
          .auto-suggestions
            top: 156px  // FIXME
            width: +zen-grid-item-width(6)
    .table
      .tr
        .td
          word-break: inherit
@media only screen and (max-width: 600px)
  .custom-form-group
    @include flex-flow(column)
    .btn
      margin-bottom: 10px
      width: 100%
  .table-actions
    .row
      [class*="col-"]
        width: 100%
        margin-bottom: 10px
        nav.pull-right //remove float right
          float: none !important
        .pagination
          width: 100%
          text-align: center
        .input-group
          width: 100%
        .full-width-mobile
          width: calc(100% - 66px)
      @include flex-flow(column)
      @include display-flex(flex)
  .table
    .tr
      .td
        &.buyer-name
          padding-left: 10px
      .bought-at-column
        position: relative
    position: relative
@media only screen and (max-width: 480px)
  body.core
    .password-reset-container, .password-change-container
      +zen-grid-item(8,1)
    .container
      h1
        font-size: $font-size-mobile
    .captable_context_actions
      text-align: center
    .form-panel-positions
      text-align: center
      a
        display: block
    .auth-form-header
      font-size: 2.2em
    .intro
      .validate.ng-pristine
        input
          width: 50%
  .table
    .td
      @include flex-wrap(wrap)
    .tr
      font-size: 1em
      .bought-at
        font-size: 8px
      .buyer-name
        font-size: 1em
  .main-screenshot
    .screenshot
      height: 160px
      background-size: 100%
      background-position: center top

@media only screen and (max-width: 400px)

  body.core
    .navbar-brand
      font-size: 90%
    .registration-form
      width: 100%
      margin: 0
    .container
      .editable-wrap .editable-controls > input
        display: block
        width: 100%
      .editable-wrap .editable-controls > select
        display: block
        width: 100%
    .table
      .td
        @include flex-basis(auto)
      td
        span
          display: block
        word-break: break-all
    .small-font-size
      font-size: 14px
    .full-width-mobile
      width: 100%
      margin: 0
    .intro
      .validate.ng-pristine
        input
          width: 70% !important
      .summary
        padding-bottom: 2em
      .newsletter
        padding-top: 2em
      blockquote
        p.says
          font-size: 1.2em
        word-wrap: break-word
      .benefits
        ul > li
          font-size: 1.2em
    #flatpage
      .pricing
        .box
          float: none
          width: 98%
          margin-top: 1em

@media only screen and (max-width: 360px)
  .main-screenshot
    .screenshot
      height: 130px
      background-size: cover
  .bold-mobile
    font-size: 10px

@media screen and (orientation:portrait)
  // ipad rotation adjustments
