
@media only screen and (max-width: 960px)

  body.core
    .container
      width: 780px

    header
      .container
        .search-box
          +zen-grid-item(5,4)
          .auto-suggestions
            width: +zen-grid-item-width(4.5)


@media only screen and (max-width: 800px)

  body.core
    .container
      width: 100%

    header
      .container
        .search-box
          span.glyphicon
            &.el-icon-search
              font-size: 24x
            &.el-icon-remove
              margin: 14px 0
              padding: 20px 0
          input
            font-size: 16px
            padding: 15px 0 16px 25px

    #mask
      .container
        .mask-wrapper
          .content-wrapper
            .content, .map
              +zen-new-row()
              +zen-grid-item(8,1)
              float: none
            .map
              padding-top: 2em

  #flatpage
    +zen-new-row()
    +zen-grid-item(8, 1)
    .tagline
      padding: 0

/* change default collapse menu breakpoint */

@media (max-width: 1000px)
  .navbar-header
    float: none
  .navbar-left,.navbar-right
    float: none !important
  .navbar-toggle
    display: block
  .navbar-fixed-top
    top: 0
    border-width: 0
  .navbar-collapse.collapse
    display: none !important
  .navbar-nav
    float: none !important
    margin-top: 7.5px
  .navbar-nav > li
    float: none
  .navbar-nav > li > a
    padding-top: 10px
    padding-bottom: 10px
  .collapse.in
    display: block !important
  /* hide separator in menu */
  .btn-inline.btn-with-separator
    &:after
      width: 0 !important

/* end of collapse menu */

@media only screen and (min-width:768px) and (max-width:1000px)
  body
    header
      .navigation-bar-container
        -webkit-box-orient: vertical !important
        -webkit-box-direction: normal !important
        -ms-flex-direction: column !important
        flex-direction: column !important
        align-items: inherit !important
      .menu
        -webkit-box-pack: center
        -ms-flex-pack: center
        justify-content: center
@media only screen and (max-width: 768px)
  body
    header
      .menu
        -webkit-box-orient: vertical !important
        -webkit-box-direction: normal !important
        -ms-flex-direction: column !important
        flex-direction: column !important
        li
          margin: 5px 0
      .navbar-collapse
        border: 0 !important
        box-shadow: unset 
      .navigation-bar-container
        -webkit-box-orient: vertical !important
        -webkit-box-direction: normal !important
        -ms-flex-direction: column !important
        flex-direction: column !important
        .navbar-header
          width: 100%

@media only screen and (max-width: 640px)

  body
    header
      min-height: 180px
      text-align: center
      .container
        .logo
          +zen-grid-item(8,1)
          float: none
          margin-bottom: 10px
        .search-box
          +zen-grid-item(8,1)
          float: none
          .auto-suggestions
            top: 156px  // FIXME
            width: +zen-grid-item-width(6)

@media only screen and (max-width: 400px)

  body
    .intro
      blockquote
        word-wrap: break-word
      .benefits
        ul > li
          font-size: 1.6em
    #flatpage
      .pricing
        .box
          float: none
          width: 98%
          margin-top: 1em

@media screen and (orientation:portrait)
  // ipad rotation adjustments
