
@media only screen and (max-width: 960px)

  body.core
    .add-information-inline
      .date-field
        min-width: 100%
      select
        width: 100%
        margin: 5px 0
      input
        width: 100%
        margin: 5px 0
    .container
      width: 780px
    header
      .container
        .search-box
          +zen-grid-item(5,4)
          .auto-suggestions
            width: +zen-grid-item-width(4.5)

@media only screen and (max-width: 800px)
  
  body.core
    .registration-teaser
      display: none
    .registration-form
      +zen-grid-item(4, 3)

    .container
      width: 100%
    .summary
      padding-bottom: 1.5em
    .newsletter
      padding-top: 1.5em
    blockquote
      p.says
        font-size: 1.4em
    .benefits
      ul > li
        font-size: 1.4em

  .intro
    header.home
      .container
        .menu
          display: initial
          li
            display: block
            text-align: center
            .btn-default.btn-white
              margin-bottom: 10px
            a
              display: initial


    header
      .container
        .search-box
          span.glyphicon
            &.el-icon-search
              font-size: 24x
            &.el-icon-remove
              margin: 14px 0
              padding: 20px 0
          input
            font-size: 16px
            padding: 15px 0 16px 25px

    #mask
      .container
        .mask-wrapper
          .content-wrapper
            .content, .map
              +zen-new-row()
              +zen-grid-item(8,1)
              float: none
            .map
              padding-top: 2em

  #flatpage
    +zen-new-row()
    +zen-grid-item(8, 1)
    .tagline
      padding: 0

/* Hide orange items on 800 - 1000 px screen size */

@media only screen and (min-width: 801px) and (max-width: 1000px)
  .intro
    header.home
      .container
        .menu
          li
            .orange
              display: none

/* change default collapse menu breakpoint */
@media (max-width: 960px)
  .collapse-expanded
    .navbar-username
      margin-top: 0
    .bold
      font-weight: 700
    .dropdown-menu
      position: static
      float: none
      width: auto
      margin-top: 0
      background-color: transparent
      border: 0
      -webkit-box-shadow: none
      box-shadow: none
    .top-separator
      border-top: 1px solid #e6e6e6
    .navbar-header
      float: none
    .navbar-left,.navbar-right
      float: none !important
    .navbar-toggle
      display: block
      margin-top: 10px /* Vertial align toggle button*/
    .navbar-fixed-top
      top: 0
      border-width: 0
    .navbar-collapse.collapse
      display: none !important
    .navbar-nav
      float: none !important
      margin-top: 7.5px
    .navbar-nav > li
      float: none
    .navbar-nav > li > a
      padding-top: 10px
      padding-bottom: 10px
    .collapse.in
      display: block !important

   

@media (max-width: 800px)
  .navbar-header
    float: none
  .navbar-left,.navbar-right
    float: none !important
  .navbar-toggle
    display: block
    margin-top: 10px /* Vertial align toggle button*/
  .navbar-fixed-top
    top: 0
    border-width: 0
  .navbar-collapse.collapse
    display: none !important
  .navbar-nav
    float: none !important
    margin-top: 7.5px
  .navbar-nav > li
    float: none
  .navbar-nav > li > a
    padding-top: 10px
    padding-bottom: 10px
  .collapse.in
    display: block !important

  .intro
    header.home
      .container
        .btn-inline.btn-with-separator
          &:after
            width: 0


/* end of collapse menu */
  
@media only screen and (max-width: 768px)
  body.core
    .container
      .control-label
        padding-left: 15px
    header
      .menu
        li
          margin: 5px 0
      .navbar-collapse
        border: 0 
        box-shadow: unset 
        .navbar-header
          width: 100%

/* Screenshot container no repeating */
@media only screen and (max-width: 650px)
  .main-screenshot
    .screenshot
      background-position: center
      background-size: 100% 100%

@media only screen and (max-width: 480px)
  .main-screenshot
    .screenshot
      height: 160px
      background-size: 100%
      background-position: center top

@media only screen and (max-width: 360px)
  .main-screenshot
    .screenshot
      height: 130px
      background-size: cover
/* end screenshot container */

@media only screen and (max-width: 640px)

  body.core
    .registration-form
      width: 75% 
      margin-left: 15%
    .container
      h1
        font-size: $font-size-tablet
      .footer
        width: 100%
        text-align: center
      .panel-column
        text-align: center
        a
          margin: 3px 0
          display: block
  body
    .form-control
      margin-bottom: 10px
    .intro
      .validate.ng-pristine
        input
          width: 50%
      .summary
        padding-bottom: 2em
      .newsletter
        padding-top: 2em
      blockquote
        p.says
          font-size: 1.4em
      .benefits
        ul > li
          font-size: 1.4em
    header
      min-height: 180px
      text-align: center
      .container
        .logo
          +zen-grid-item(8,1)
          float: none
          margin-bottom: 10px
        .search-box
          +zen-grid-item(8,1)
          float: none
          .auto-suggestions
            top: 156px  // FIXME
            width: +zen-grid-item-width(6)



@media only screen and (max-width: 480px)
  body.core
    .password-reset-container, .password-change-container
      +zen-grid-item(8,1)
    .container
      h1
        font-size: $font-size-mobile
    .captable_context_actions
      text-align: center
    .form-panel-positions
      text-align: center
      a
        display: block
    .auth-form-header
      font-size: 2.2em
    .intro
      .validate.ng-pristine
        input
          width: 50%

@media only screen and (max-width: 400px)

  body.core
    .registration-form
      width: 100%
      margin: 0
    .container
      .editable-wrap .editable-controls > input
        display: block
        width: 100%
      .editable-wrap .editable-controls > select
        display: block
        width: 100%
    .table
      td
        span
          display: block
        word-break: break-all
    .small-font-size
      font-size: 14px
    .full-width-mobile
      width: 100%
      margin: 0
    .intro
      .validate.ng-pristine
        input
          width: 70% !important
      .summary
        padding-bottom: 2em
      .newsletter
        padding-top: 2em
      blockquote
        p.says
          font-size: 1.2em
        word-wrap: break-word
      .benefits
        ul > li
          font-size: 1.2em
    #flatpage
      .pricing
        .box
          float: none
          width: 98%
          margin-top: 1em

@media screen and (orientation:portrait)
  // ipad rotation adjustments
