{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block body_block %}
{% block header %}
{% include "menu.html" %}
{% endblock %}
<div class="container">
<div class="page-header">
    <h1 class="text-center">{% trans "Confirm password reset" %}</h1>
  </div>
  <div id="auth" class="password-reset-container">

    {% if validlink %}

    <p class="reset-password-comment text-center">{% trans "Enter your new password below to reset your password:" %}</p>
    <div class="">
      <form method="post" action="." class="form form-horizontal">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
          <div class="col-sm-8 col-sm-offset-2">
            <input id="{{ field.id_for_label }}" maxlength="{{ field.maxlength }}" name="{{ field.name }}" type="{{ field.field.widget.input_type }}" placeholder="Neues Passwort bestätigen" class="form-control">
          </div>
        </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <input type="submit" value="{% trans 'Set password' %}" class="btn-submit button"/>
          </div>
        </div>
      </form>
    </div>

    {% else %}

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}
  </div>
</div>
{% endblock %}
