{% load i18n shareholder_tags thumbnail %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ user_name }} - {{ company.name }} ({{ report_date|date:"DATE_FORMAT" }})</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}compiled/stylesheets/pdf/main.css">
    <style>
      .shareholder .indent {display: block; margin-left: 40px;}
      @font-face {
        font-family: 'Muli';
        /*src: url(https://fonts.googleapis.com/css?family=Muli:400);*/
        src: "file://{{ MEDIA_ROOT }}/../../static/compiled/fonts/Muli-Regular.ttf";
      }
      @font-face {
        font-family: 'Muli-Light';
        /*src: url(https://fonts.googleapis.com/css?family=Muli:300);*/
        src: "file://{{ MEDIA_ROOT }}/../../static/compiled/fonts/Muli-Light.ttf";
      }

    </style>
    <style media="screen">
      .break {border-bottom: 1px solid #777;}
      #footer_content {display: none;}
    </style>
  </head>
  <body>
    <div id="header_content"> 
      {% if company.pdf_header_image %}
        {% thumbnail company.pdf_header_image "1000x200" crop="center" as img %}
          <img src="file://{{ MEDIA_ROOT }}/../../{{ img.url }}">
        {% endthumbnail %}
      {% else %}
        <table>
          <tr>
            <td>
              <h1>Das Aktienregister</h1>
            </td>
            <td class="pull-right">
              <h3>{{site.domain}}</h3>
            </td>
          </tr>
        </table>
      {% endif %}
    </div>

    <div id="footer_content">
      <table>
        <tr>
          <td>
            <p class="center">
              {% trans "Created automatically by" %}<br />
              {{ site.domain }}. {% trans "Valid without signature." %}
            </p>
          </td>
          <td class="pull-right">
            {% trans "Page" %} <pdf:pagenumber> {% trans "of" %} <pdf:pagecount>
          </td>
        </tr>
      </table>
    </div>

    {% if preview %}
      {% include "pdf/_statement_preview.pdf.html" %}
    {% endif %}

    {% for shareholder in shareholder_list %}

      {# address #}
      <div class="address">
        <table>
          <tr>
            <td class="user">
              {{ shareholder.get_full_name }}<br />
              {% if shareholder.user.userprofile.c_o %}c/o {{ shareholder.user.userprofile.c_o }} <br />{% endif %}
              {% if shareholder.user.userprofile.street %}{{ shareholder.user.userprofile.street }}<br />{% endif %}
              {% if shareholder.user.userprofile.pobox %}PO Box: {{ shareholder.user.userprofile.pobox %}<br />{% endif %}
              {% if shareholder.user.userprofile.city %}{{ shareholder.user.userprofile.postal_code }} {{ shareholder.user.userprofile.city }}<br />{% endif %}
              {% if shareholder.user.userprofile.province %}{{ shareholder.user.userprofile.province }}<br />{% endif %}
              {% if shareholder.user.userprofile.country.name %}{{ shareholder.user.userprofile.country.name }}{% endif %}
            </td>
            <td class="company">
              {{ shareholder.company.name }}<br />
              {% if shareholder.company.get_company_shareholder.user.userprofile.street %}
                {{ shareholder.company.get_company_shareholder.user.userprofile.street }}<br />
              {% endif %}
              {% if shareholder.company.get_company_shareholder.user.userprofile.city %}
                {{ shareholder.company.get_company_shareholder.user.userprofile.postal_code }} 
                {{ shareholder.company.get_company_shareholder.user.userprofile.city }}<br />
              {% endif %}
              {% if shareholder.company.get_company_shareholder.user.userprofile.province %}
                {{ shareholder.company.get_company_shareholder.user.userprofile.province }}<br />
              {% endif %}
              {% if shareholder.company.get_company_shareholder.user.userprofile.country.name %}
                {{ shareholder.company.get_company_shareholder.user.userprofile.country.name }}
              {% endif %}
              {% if shareholder.company.support_contact %}
                <br /><br />
                {% trans "Your contact person(s):" %}:<br />
                {{ shareholder.company.support_contact }}
              {% endif %}
              <br /><br />
              {% trans "Your shareholder number:" %}:
              {{ shareholder.number }}
              <br /><br />
              {{ report_date|date:"DATE_FORMAT" }}
            </td>
          </tr>
        </table>
      </div>

      <div class="shareholder content">
        <h1>
          {% trans "Depot statement for" %} {{ shareholder.get_full_name }} ({{ shareholder.number }})
        </h1>

        <p>
          {% trans "Herewith company" %}
          <strong>{{ shareholder.company.name }}</strong>
          {% trans "confirms that" %}
          <strong>{{ shareholder.get_full_name }} ({{ shareholder.number }})</strong>
          {% trans "is the record holder of the following investment(s)" %}:
        </p>

        {% get_shareholder_assets shareholder report_date as asset_list %}
        {% if asset_list %}
          <table>
            <tr class="head">
              <td class="col1" width="300px">{% trans "Type" %}</td>
              <td>{% trans "Record Date" %}</td>
              <td class="pull-right">{% trans "Quantity" %}</td>
              <td class="pull-right">{% trans "Nominal Value" %}</td>
              <td class="pull-right">{% trans "Cumulated Capital based on face value" %}</td>
            </tr>
            {% for asset in asset_list %}
              <tr class="row {% cycle 'odd' 'even' %}">
                <td class="col1">
                  {% if asset.name %}{{ asset.name }}{% else %}&nbsp;{% endif %}<br/>
                  {% if asset.cusip %}<i>{% trans "Valor" %}: {{ asset.cusip }}</i>{% endif %}
                </td>
                <td>
                  {% if asset.date %}{{ asset.date }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if asset.count %}{{ asset.count }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if asset.value %}{{ asset.value|floatformat:2 }} CHF {% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if asset.cumulated_face_value %}{{ asset.cumulated_face_value|floatformat:2 }} CHF {% else %}&nbsp;{% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}

        {% get_shareholder_options shareholder report_date as option_list %}
        {% if option_list %}
          <p>{% trans "Options" %}</p>
          <table>
            <tr class="head">
              <td>{% trans "Type" %}</td>
              <td>{% trans "Record Date" %}</td>
              <td class="pull-right">{% trans "Quantity" %}</td>
              <td class="pull-right">{% trans "Strike Price" %}</td>
            </tr>
            {% for option in option_list %}
              <tr class="row {% cycle 'odd' 'even' %}">
                <td>
                  {% if option.name %}{{ option.name }}{% else %}&nbsp;{% endif %}
                </td>
                <td>
                  {% if report_date %}{{ report_date|date:"DATE_FORMAT" }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if option.count %}{{ option.count }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if option.value %}{{ option.value|floatformat:2 }}{% else %}&nbsp;{% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}

        <p>
          <br />
          {% get_share_value shareholder report_date as share_value %}
          {% get_options_value shareholder report_date as options_value %}
          {% blocktrans with share_value|floatformat:2 as share_value and options_value|floatformat:2 as options_value %}
          According to the company's valuation based on the traded shares with the last 12 months, your
holdings currently value: {{share_value}} in shares and {{options_value}} in options.
          {% endblocktrans %}
        </p>

        <p>
          {% if company.get_company_shareholder.user.userprofile.city %} {{ company.get_company_shareholder.user.userprofile.city }}, {% endif %}
          {{ report_date|date:"DATE_FORMAT" }}
        </p>
        <p>
          {{ company.name }}
        </p>

        <div class="break"></div>


        <!-- TAX DECLARATION -->
        <h1>
          {% trans "Depot statement for" %} {{ shareholder.get_full_name }} ({{ shareholder.number }})
        </h1>

        <p>
          {% trans "Herewith company" %}
          <strong>{{ shareholder.company.name }}</strong>
          {% trans "confirms that" %}
          <strong>{{ shareholder.get_full_name }} ({{ shareholder.number }})</strong>
          {% trans "is the record holder of the following investment(s)" %}:
        </p>

        {% if asset_list %}
          <p>{% trans "Assets" %}</p>
          <table>
            <tr class="head">
              <td  width="300px">{% trans "Type" %}</td>
              <td>{% trans "Record Date" %}</td>
              <td class="pull-right">{% trans "Quantity" %}</td>
              <td class="pull-right">{% trans "Nominal Value" %}</td>
              <td class="pull-right">{% trans "Cumulated Capital based on face value" %}</td>
            </tr>
            {% for asset in asset_list %}
              <tr class="row {% cycle 'odd' 'even' %}">
                <td>
                  {{ asset.name }}
                  {% if asset.cusip %}<i>{% trans "Valor" %}: {{ asset.cusip }}</i>{% endif %}
                </td>
                <td>
                  {% if report_date %}{{ report_date|date:"DATE_FORMAT" }}{% else %}&nsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if asset.count %}{{ asset.count }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if asset.value %}{{ asset.value|floatformat:2 }} CHF {% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if asset.cumulated_face_value %}{{ asset.cumulated_face_value|floatformat:2 }} CHF {% else %}&nbsp;{% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}

        {% if option_list %}
          <p>{% trans "Options" %}</p>
          <table>
            <tr class="head">
              <td>{% trans "Type" %}</td>
              <td>{% trans "Record Date" %}</td>
              <td class="pull-right">{% trans "Quantity" %}</td>
              <td class="pull-right">{% trans "Strike Price" %}</td>
            </tr>
            {% for option in option_list %}
              <tr class="row {% cycle 'odd' 'even' %}">
                <td>
                  {% if option.name %}{{ option.name }}{% else %}&nbsp;{% endif %}
                </td>
                <td>
                  {% if report_date %}{{ report_date|date:"DATE_FORMAT" }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if option.count %}{{ option.count }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if option.value %}{{ option.value|floatformat:2 }}{% else %}&nbsp;{% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}

        {% if shareholder.is_management %}
        <p>
          <br />
          {{ shareholder.get_full_name }} {% trans "is as of today a member of the management/vr of this company. he holds the following positions with vesting and adjusted tax value according to swiss law. See https://goo.gl/U6ufgL for underlying regulations." %}
        </p>

        {% get_vested_positions shareholder report_date as vested_positions %}
        {% if vested_positions %}
        <p>{% trans "vested shares" %}</p>
        <table>
          <tr class="head">
            <td>{% trans "bought at" %}</td>
            <td>{% trans "count" %}</td>
            <td>{% trans "security" %}</td>
            <td class="">{% trans "vesting months" %}</td>
            <td>{% trans "vesting expiration date" %}</td>
            <td class="">{% trans "discounted tax ratio(%)" %}</td>
            <td class="">{% trans "discounted tax value" %}</td>
          </tr>
          {% for position in vested_positions %}
          <tr class="row {% cycle 'odd' 'even' %}">
            <td>{{ position.bought_at}}</td>
            <td>{{ position.count }}</td>
            <td>{{ position.security }}</td>
            <td class="">{{ position.vesting_months }}</td>
            <td>{{ position.vesting_expires_at }}</td>
            <td class="">{% widthratio position.get_discounted_tax_ratio 1 100 %}%</td>
            <td class="">{{ position.get_discounted_tax_value|floatformat:"2" }} CHF</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}

        {% get_vested_option_positions shareholder report_date as vested_option_positions %}
        {% if vested_option_positions %}
        <p>{% trans "vested options" %}</p>
        <table>
          <tr class="head">
            <td>{% trans "bought at" %}</td>
            <td>{% trans "count" %}</td>
            <td>{% trans "security" %}</td>
            <td class="pull-right">{% trans "vesting months" %}</td>
            <td>{% trans "vesting expiration date" %}</td>
            <td class="pull-right">{% trans "discounted tax ratio(%)" %}</td>
            <td class="pull-right">{% trans "discounted tax value" %}</td>
          </tr>
          {% for position in vested_option_positions %}
          <tr class="row {% cycle 'odd' 'even' %}">
            <td>{{ position.bought_at|date:"SHORT_DATE_FORMAT"}}</td>
            <td>{{ position.count }}</td>
            <td>{{ position.option_plan.security }}</td>
            <td class="pull-right">{{ position.vesting_months }}</td>
            <td>{{ position.vesting_expires_at|date:"SHORT_DATE_FORMAT" }}</td>
            <td class="pull-right">{% widthratio position.get_discounted_tax_ratio 1 100 %}%</td>
            <td class="pull-right">{{ position.get_discounted_tax_value|floatformat:"4" }} CHF</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}

        {% if not vested_option_positions and not vested_positions %}
        <p>
          {% trans "There are not positions and no options with applied vesting at this point of time." %}
        </p>
        {% endif %}

        <p>
          <br />
          {% trans "Total amount of discounted tax value is:" %} 
          {% get_total_discounted_tax_value shareholder report_date as total_discounted_tax_value %}
          {{ total_discounted_tax_value|floatformat:"4" }} CHF
        </p>

        {% endif %} {# end of discounted tax data for management#}

        <p>
          {% trans "This document is to be used for tax authority." %}
        </p>
        <p>
          {% if company.get_company_shareholder.user.userprofile.city %} {{ company.get_company_shareholder.user.userprofile.city }}, {% endif %}
          {{ report_date|date:"DATE_FORMAT" }}
        </p>
        <p>
            {{ company.name }}
        </p>
      </div>

    {% endfor %}

  </body>
</html>
