{% load i18n shareholder_tags thumbnail %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ user_name }} - {{ company.name }} ({{ report_date|date:"DATE_FORMAT" }})</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}compiled/stylesheets/pdf/main.css">
    <style>
      .shareholder .indent {display: block; margin-left: 40px;}
    </style>
    <style media="screen">
      .break {border-bottom: 1px solid #777;}
      #footer_content {display: none;}
    </style>
  </head>
  <body>
    <div id="header_content"> 
      {% if company.pdf_header_image %}
        {% thumbnail company.pdf_header_image "1000x200" crop="center" as img %}
          <img src="file://{{ MEDIA_ROOT }}/../../{{ img.url }}">
        {% endthumbnail %}
      {% else %}
        <table>
          <tr>
            <td>
              <h1>Das Aktienregister</h1>
            </td>
            <td class="pull-right">
              <h3>{{site.domain}}</h3>
            </td>
          </tr>
        </table>
      {% endif %}
    </div>

    <div id="footer_content">
      <table>
        <tr>
          <td>
            <p class="center">
              {% trans "Created automatically by" %}<br />
              {{ site.domain }}. {% trans "Valid without signature." %}
            </p>
          </td>
          <td class="pull-right">
            {% trans "Page" %} <pdf:pagenumber> {% trans "of" %} <pdf:pagecount>
          </td>
        </tr>
      </table>
    </div>

    {% if preview %}
      {% include "pdf/_statement_preview.pdf.html" %}
    {% endif %}

    {% for shareholder in shareholder_list %}

      {# address #}
      <div class="address">
        <table>
          <tr>
            <td class="user">
              {{ shareholder.user_name }}<br />
              {{ shareholder.user.userprofile.street }}<br />
              {{ shareholder.user.userprofile.postal_code }} {{ shareholder.user.userprofile.city }}<br />
              {% if shareholder.user.userprofile.province %}{{ shareholder.user.userprofile.province }}<br />{% endif %}
              {{ shareholder.user.userprofile.country.name }}
            </td>
            <td class="company">
              {{ shareholder.company.name }}<br />
              {{ shareholder.company.street }}<br />
              {{ shareholder.company.postal_code }} {{ shareholder.company.city }}<br />
              {% if shareholder.company.province %}{{ shareholder.company.province }}<br />{% endif %}
              {{ shareholder.company.country.name }}
              <br /><br />
              {% trans "Your contact person(s):" %}<br />
              {% for operator in shareholder.company.get_operators %}
                {{ operator.user.get_full_name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
              <br /><br />
              {% trans "Your shareholder number:" %}
              {{ shareholder.number }}
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td  class="company">{{ report_date|date:"DATE_FORMAT" }}</td>
          </tr>
        </table>
      </div>

      <div class="shareholder content">
        <h1>
          {% trans "Depot statement for" %} {{ shareholder.user_name }} ({{ shareholder.number }})
        </h1>

        <p>{% trans "Herewith company" %}</p>

        <p class="indent">
          {{ shareholder.company.name }}
          {% if shareholder.company.has_address %}
            {% if shareholder.company.street %}
              {{ shareholder.company.street }}, 
            {% endif %}
            {% if shareholder.company.street or shareholder.company.city %}
              {{ shareholder.company.postal_code }} {{ shareholder.company.city }}, 
            {% endif %}
            {% if shareholder.company.province %}
              {{ shareholder.company.province }}, 
            {% endif %}
            {% if shareholder.company.country %}
              {{ shareholder.company.country }}, 
            {% endif %}
          {% endif %}
        </p>

        <p>{% trans "confirms that" %}</p>

        <p>
          <span class="indent">{{ shareholder.user_name }} ({{ shareholder.number }})</span>
        </p>

        <p>
          {% trans "is the record holder of the following investment(s)" %}:
        </p>

        {% get_shareholder_assets shareholder report_date as asset_list %}
        {% if asset_list %}
          <p>{% trans "Assets" %}</p>
          <table>
            <tr class="head">
              <td>{% trans "Type" %}</td>
              <td>{% trans "Record Date" %}</td>
              <td class="pull-right">{% trans "Quantity" %}</td>
              <td class="pull-right">{% trans "Nominal Value" %}</td>
            </tr>
            {% for asset in asset_list %}
              <tr class="row {% cycle 'odd' 'even' %}">
                <td>
                  {% if asset.name %}{{ asset.name }}{% else %}&nbsp;{% endif %}
                </td>
                <td>
                  {% if asset.date %}{{ asset.date }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if asset.count %}{{ asset.count }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if asset.value %}{{ asset.value|floatformat:2 }}{% else %}&nbsp;{% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}

        {% get_shareholder_options shareholder report_date as option_list %}
        {% if option_list %}
          <p>{% trans "Options" %}</p>
          <table>
            <tr class="head">
              <td>{% trans "Type" %}</td>
              <td>{% trans "Record Date" %}</td>
              <td class="pull-right">{% trans "Quantity" %}</td>
              <td class="pull-right">{% trans "Strike Price" %}</td>
            </tr>
            {% for option in option_list %}
              <tr class="row {% cycle 'odd' 'even' %}">
                <td>
                  {% if option.name %}{{ option.name }}{% else %}&nbsp;{% endif %}
                </td>
                <td>
                  {% if report_date %}{{ report_date|date:"DATE_FORMAT" }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if option.count %}{{ option.count }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if option.value %}{{ option.value|floatformat:2 }}{% else %}&nbsp;{% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}

        <p>
          <br />
          {% get_share_value shareholder report_date as share_value %}
          {% get_options_value shareholder report_date as options_value %}
          {% blocktrans with share_value|floatformat:2 as share_value and options_value|floatformat:2 as options_value %}
          According to the company's valuation based on the traded shares with the last 12 months, your
holdings currently value: {{share_value}} in shares and {{options_value}} in options.
          {% endblocktrans %}
        </p>

        <br />
        <p>{% trans "Zurich" %}, {{ report_date|date:"DATE_FORMAT" }}</p>
        <p>
          {% for operator in shareholder.company.get_operators %}
            {{ operator.company.name }}{% if not forloop.last %}<br />{% endif %}
          {% endfor %}
        </p>

        <div class="break"></div>

        <h1>
          {% trans "Depot statement for" %} {{ shareholder.get_user_name }} ({{ shareholder.number }})
        </h1>

        <p>{% trans "Herewith company" %}</p>

        <p class="indent">
          {{ shareholder.company.name }}
          {% if shareholder.company.has_address %}
            {% if shareholder.company.street %}
              {{ shareholder.company.street }}, 
            {% endif %}
            {% if shareholder.company.street or shareholder.company.city %}
              {{ shareholder.company.postal_code }} {{ shareholder.company.city }}, 
            {% endif %}
            {% if shareholder.company.province %}
              {{ shareholder.company.province }}, 
            {% endif %}
            {% if shareholder.company.country %}
              {{ shareholder.company.country }}, 
            {% endif %}
          {% endif %}
        </p>

        <p>{% trans "confirms that" %}</p>

        <p>
          <span class="indent">{{ shareholder.get_user_name }} ({{ shareholder.number }})</span>
        </p>

        <p>{% trans "is the record holder of the following investment(s)" %}:</p>

        {% if asset_list %}
          <p>{% trans "Assets" %}</p>
          <table>
            <tr class="head">
              <td>{% trans "Type" %}</td>
              <td>{% trans "Record Date" %}</td>
              <td class="pull-right">{% trans "Quantity" %}</td>
              <td class="pull-right">{% trans "Nominal Value" %}</td>
            </tr>
            {% for asset in asset_list %}
              <tr class="row {% cycle 'odd' 'even' %}">
                <td>
                  {{ asset.name }}
                </td>
                <td>
                  {% if report_date %}{{ report_date|date:"DATE_FORMAT" }}{% else %}&nsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if asset.count %}{{ asset.count }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if asset.value %}{{ asset.value|floatformat:2 }}{% else %}&nbsp;{% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}

        {% if option_list %}
          <p>{% trans "Options" %}</p>
          <table>
            <tr class="head">
              <td>{% trans "Type" %}</td>
              <td>{% trans "Record Date" %}</td>
              <td class="pull-right">{% trans "Quantity" %}</td>
              <td class="pull-right">{% trans "Strike Price" %}</td>
            </tr>
            {% for option in option_list %}
              <tr class="row {% cycle 'odd' 'even' %}">
                <td>
                  {% if option.name %}{{ option.name }}{% else %}&nbsp;{% endif %}
                </td>
                <td>
                  {% if report_date %}{{ report_date|date:"DATE_FORMAT" }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if option.count %}{{ option.count }}{% else %}&nbsp;{% endif %}
                </td>
                <td class="pull-right">
                  {% if option.value %}{{ option.value|floatformat:2 }}{% else %}&nbsp;{% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}

        {% if shareholder.is_management %}
        <p>
          <br />
          {{ shareholder.get_full_name }} {% trans "is as of today a member of the management/vr of this company. he holds the following positions with vesting and adjusted tax value according to swiss law. See https://goo.gl/U6ufgL for underlying regulations." %}
        </p>

        {% get_vested_positions shareholder report_date as vested_positions %}
        {% if vested_positions %}
        <p>{% trans "vested shares" %}</p>
        <table>
          <tr class="head">
            <td>{% trans "bought at" %}</td>
            <td>{% trans "count" %}</td>
            <td>{% trans "security" %}</td>
            <td class="pull-right">{% trans "vesting months" %}</td>
            <td>{% trans "vesting expiration date" %}</td>
            <td class="pull-right">{% trans "discounted tax ratio(%)" %}</td>
            <td class="pull-right">{% trans "discounted tax value" %}</td>
          </tr>
          {% for position in vested_positions %}
          <tr class="row {% cycle 'odd' 'even' %}">
            <td>{{ position.bought_at}}</td>
            <td>{{ position.count }}</td>
            <td>{{ position.security }}</td>
            <td class="pull-right">{{ position.vesting_months }}</td>
            <td>{{ position.vesting_expires_at }}</td>
            <td class="pull-right">{% widthratio position.get_discounted_tax_ratio 1 100 %}%</td>
            <td class="pull-right">{{ position.get_discounted_tax_value|floatformat:"2" }} CHF</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}

        {% get_vested_option_positions shareholder report_date as vested_option_positions %}
        {% if vested_option_positions %}
        <p>{% trans "vested options" %}</p>
        <table>
          <tr class="head">
            <td>{% trans "bought at" %}</td>
            <td>{% trans "count" %}</td>
            <td>{% trans "security" %}</td>
            <td class="pull-right">{% trans "vesting months" %}</td>
            <td>{% trans "vesting expiration date" %}</td>
            <td class="pull-right">{% trans "discounted tax ratio(%)" %}</td>
            <td class="pull-right">{% trans "discounted tax value" %}</td>
          </tr>
          {% for position in vested_option_positions %}
          <tr class="row {% cycle 'odd' 'even' %}">
            <td>{{ position.bought_at}}</td>
            <td>{{ position.count }}</td>
            <td>{{ position.option_plan.security }}</td>
            <td class="pull-right">{{ position.vesting_months }}</td>
            <td>{{ position.vesting_expires_at }}</td>
            <td class="pull-right">{% widthratio position.get_discounted_tax_ratio 1 100 %}%</td>
            <td class="pull-right">{{ position.get_discounted_tax_value|floatformat:"4" }} CHF</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}

        {% if not vested_option_positions and not vested_positions %}
        <p>
          {% trans "There are not positions and no options with applied vesting at this point of time." %}
        </p>
        {% endif %}

        <p>
          <br />
          {% trans "Total amount of discounted tax value is:" %} 
          {% get_total_discounted_tax_value shareholder report_date as total_discounted_tax_value %}
          {{ total_discounted_tax_value|floatformat:"4" }} CHF
        </p>

        {% endif %} {# end of discounted tax data for management#}

        <p>
          <br />
          {% trans "This document is to be used for tax authority." %}
        </p>

        <br />
        <p>{% trans "Zurich" %}, {{ report_date|date:"DATE_FORMAT" }}</p>
        <p>
          {% for operator in company.get_operators %}
            {{ operator.company.name }}{% if not forloop.last %}<br />{% endif %}
          {% endfor %}
        </p>
      </div>

    {% endfor %}

  </body>
</html>
