{% extends "base_auth.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
  <TITLE>{% trans "Options Overview" %} - Das Aktienregister</TITLE>
{% endblock %}

{% block ng_app %}js.darg.app.options{% endblock %}

{% block content %}
<div ng_controller="OptionsController">
  <h1>{% trans "Options" %}</h1>

  <div class="panel panel-column">
    <a class="btn-inline align-left" href="" data-toggle="modal" data-target="#addOptionTransaction" ng-click="show_add_option_transaction_form()" ng-hide="!option_plans.length">{% trans "Transfer Option" %}</a>
    <a class="btn-inline " href="" data-toggle="modal" data-target="#addOptionPlan" ng-click="show_add_option_plan_form()">{% trans "Grant New Option Plan" %}</a>
  </div>

  <!-- MODAL OPTIONS TRANSACTION -->
  <div class="modal fade" id="addOptionTransaction" tabindex="-1" role="dialog" aria-labelledby="addOptionTransactionLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addOptionTransactionLabel">{% trans "Split Shares" %}</h4>
        </div>
        <div class="modal-body">
          {% include "_form_errors.html" %}
          <p class="alert alert-success" ng-show="transaction_added_success">
            {% trans "Transaction added" %}
          </p>
          <div id="add_option_transaction">
            {% include "_add_option_transaction_form.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL OPTION PLAN -->
  <div class="modal fade" id="addOptionPlan" tabindex="-1" role="dialog" aria-labelledby="addOptionPlanLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addOptionPlanLabel">{% trans "Split Shares" %}</h4>
        </div>
        <div class="modal-body">
          {% include "_form_errors.html" %}
          <p class="alert alert-success" ng-show="plan_added_success">
            {% trans "Plan added" %}
          </p>
          <div id="add_option_plan">
            {% include "_add_option_plan_form.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% verbatim %}
  <div class="spinner" ng-show="loading">
    <img src="{% endverbatim %}{% static "compiled/images/loading_spinner.gif" %}{% verbatim %}" />
  </div>

  <!-- TABLE ACTIONS -->
  {% endverbatim %}{% include "_table_actions.html" %}{% verbatim %}

  <!-- TABLE -->
  <div id="options" ng-hide="!optiontransactions.length" ng-repeat="optiontransaction in optiontransactions">
    {% endverbatim %}
    <h2 ng-show="optiontransaction.option_plan.pk != optiontransactions[$index - 1].option_plan.pk">
      {% trans "Optionplan" %}: {% verbatim %}{{ optiontransaction.option_plan.title }}{% endverbatim %} {% trans "for" %} {% verbatim %}{{ optiontransaction.option_plan.security.readable_title }}{% endverbatim %}
      <a href="/optionsplan/{% verbatim %}{{ optiontransaction.option_plan.pk }}{% endverbatim %}/" class="el-icon-cogs-wrapper btn-inline">
         <span class="el-icon-cogs"></span>
      </a>
    </h2>

    <div class="table">
      <div class="tr th" ng-show="optiontransaction.option_plan.pk != optiontransactions[$index - 1].option_plan.pk">
        <div class="td">{% trans "Grant Date" %}</div>
        <div class="td td-width-2">{% trans "Receipient" %}</div>
        <div class="td text-right-flex" >
        {% trans "Share Count" %}<br/>
            {% verbatim %}<span class="note" ng-show="optiontransaction.option_plan.security.track_numbers">{% endverbatim %}
            ({% trans "Number Segments" %})
            </span>
        </div>
        <div class="td text-right-flex">{% trans "Exercise Price" %}</div>
        <div class="td td-width-2">{% trans "Issuer" %}</div>
        <div class="td"></div>
      </div>

      <!-- OPTIONS -->

      {% verbatim %}
      <div class="tr optiontransaction">
        <div class="td flex-column bought-at-column" ng-click="goto_option(optiontransaction.pk)" ng-mouseover="">
          <span class="bought-at">{{ optiontransaction.bought_at | date : 'd.MM.yy' }}</span>
          <span ng-show="optiontransaction.is_draft" class="draft">
            {% endverbatim %}
            {% trans "Draft" %}
            {% verbatim %}
          </span>
        </div>

        <div class="td td-width-2 buyer-name" ng-click="goto_option(optiontransaction.pk)" ng-mouseover="">
          {{ optiontransaction.buyer.full_name }}
        </div>
        <div class="td text-right-flex count gray-circle" ng-click="goto_option(optiontransaction.pk)" ng-mouseover="">
          <span class="transform-center large">
            {{ optiontransaction.count }}
          </span>
          <span class="note hide-mobile" ng-show="optiontransaction.option_plan.security.track_numbers && optiontransaction.readable_number_segments">
            (#{{ optiontransaction.readable_number_segments }})
          </span>
        </div>
        <div class="td text-right-flex margin-top-additional" ng-click="goto_option(optiontransaction.pk)" ng-mouseover="">{{ optiontransaction.option_plan.exercise_price }}</div>
        <div class="td td-width-2" ng-click="goto_option(optiontransaction.pk)" ng-mouseover="">
          {{ optiontransaction.seller.full_name }}
        </div>
        <div class="td flex-inline options-view">
          <div ng-show="optiontransaction.is_draft">
            <a class="btn-inline" ng-click="delete_option_transaction(optiontransaction)" data-toggle="tooltip" title="{% endverbatim %}{% trans 'delete' %}{% verbatim %}">
              {% endverbatim %}<i class="gray el-icon-remove-circle"></i>{% verbatim %}
            </a>
          </div>
          <div ng-show="optiontransaction.is_draft" ng-click="confirm_option_transaction(optiontransaction)" href>
            <a class="btn-inline" data-toggle="tooltip" title="{% endverbatim %}{% trans 'confirm' %}{% verbatim %}">
              {% endverbatim %}<i class="el-icon-ok-circle"></i>{% verbatim %}
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endverbatim %}
    <div class="panel" ng-show="!optiontransactions.length">
      <div class="clearfix">
        <em>{% trans "No option plans yet." %}</em>
      </div>
    </div>
  </div>
</div>
{% endblock %}
