{% extends "base_auth.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
  <TITLE>{% trans "Optionplan" %} {{ optionplan.title }} - Das Aktienregister</TITLE>
{% endblock %}

{% block ng_app %}js.darg.app.optionplan{% endblock %}

{% block content %}

<!-- required for angular API call -->
<script>var optionplan_id = {{ optionplan.id}}</script>

<div ng_controller="OptionPlanController" id="optionplan">

  <h1>{% trans "Option plan details for" %} {% verbatim %}{{ optionplan.title }}{% endverbatim %}</h1>

  {% include "_form_errors.html" %}

  <h2>{% trans "Data" %}</h2>
  <div class="table table-striped">
    <div class="tr th board-approval-date">
      <div class="td">
        {% trans "Board approval date" %}:
      </div>
      <div class="td">
      {% verbatim %}
        <span>{{ (optionplan.board_approved_at|date:"dd.MM.yy") || 'nicht angegeben' }} <!--<span class="el-icon-pencil"></span>--></span>
      {% endverbatim %}
      </div>
    </div>
    <div class="tr th exercise-price">
      <div class="td">
        {% trans "Exercise Price" %}:
      </div>
      <div class="td">
        {% verbatim %}<span>{{ optionplan.exercise_price | currency }} <!--<span class="el-icon-pencil"></span>--></span>{% endverbatim %}
      </div>
    </div>
    <div class="tr th count">
      <div class="td">
        {% trans "Share count" %}:
      </div>
      <div class="td">
        {% verbatim %}<span>{{ optionplan.count | number }} <!--<span class="el-icon-pencil"></span>--></span>{% endverbatim %}
      </div>
    </div>
    <div class="tr th comment">
      <div class="td">
        {% trans "Comment" %}:
      </div>
      <div class="td">
        {% verbatim %}<span>{{ optionplan.comment }} <!--<span class="el-icon-pencil"></span>--></span>{% endverbatim %}
      </div>
    </div>
    <div class="tr th security">
      <div class="td">
        {% trans "Security Type" %}:
      </div>
      <div class="td text">
        {% verbatim %}
        <span>
          <div>{{ optionplan.security.readable_title || 'empty' }}</div>
          <!--<span class="el-icon-pencil"></span>-->
          <div ng-show="optionplan.security.cusip">{% endverbatim %}({% trans "Valor" %}: {% verbatim %}{{ optionplan.security.cusip }})</div>
        </span>
        <span ng-show="optionplan.security.track_numbers">
          ({% endverbatim %}{% trans "Reserved security numbers:" %}{% verbatim %}
          {{ optionplan.readable_number_segments }})
        </span>
        {% endverbatim %}
      </div>
    </div>
  </div>


  <!-- pdf file -->
  <h2>{% trans "PDF of approved option plan" %}</h2>
    <div>
      {% verbatim %}
      <div class="spinner" ng-show="loading">
        <img src="{% endverbatim %}{% static "compiled/images/loading_spinner.gif" %}{% verbatim %}" />
      </div>
      <a ng-show="optionplan.pdf_file && !loading" ng-href="{{ optionplan.pdf_file_url }}" title="Download" class="">
        <img ng-src="{{ optionplan.pdf_file_preview_url }}" alt="" ng-show="optionplan.pdf_file_preview_url" width="300" class="option-plan-preview"/>
      </a>
    </div>
    <div class="panel">
      <a ng-show="optionplan.pdf_file" ng-href="{{ optionplan.pdf_file_url }}" title="Download" class="btn-inline">
        Download
      </a>
      <button class="btn-inline" ngf-select ng-model="file" ngf-multiple="false">Upload File</button>
    </div>
    <p ng-show="pdf_upload_success" class="alert alert-success pdf_upload_success" ng-cloak>
      {% endverbatim %}{% trans "Upload success" %}{% verbatim %}
    </p>
    <p ng-repeat="(name, errs) in pdf_upload_errors" class="alert alert-danger" ng-cloak>
      <strong>{{ errs[0] }}</strong>
    </p>
    <!--<div>
      Upload Log:
      <pre>{{log}}</pre>
    </div>-->
  {% endverbatim %}
<!-- end controller -->
</div>
{% endblock %}
