{% extends "base_auth.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
  <TITLE>{% trans "Transactions Overview" %} - Das Aktienregister</TITLE>
{% endblock %}

{% block ng_app %}js.darg.app.positions{% endblock %}

{% block content %}
<div ng_controller="PositionsController">
  <h1>{% trans "Positions" %}</h1>
  <p class="explaination">
    {% trans "Use Transactions to record each shareholders state of shares. For initial foundation transfer shares from company to..."%}
  </p>
  {% include "_form_errors.html" %}

  <div class="panel panel-column">
    <a class="btn-inline align-left add-position" href="" ng-click="show_add_position_form()">{% trans "Transfer Shares" %}</a>
    <a class="btn-inline add-capital" href="" ng-click="show_add_capital_form()">{% trans "Increase Capital" %}</a>
    <a class="btn-inline split-shares" href="" ng-click="show_split_form()">{% trans "Split Shares" %}</a>
  </div>

  <div id="add_position" ng-hide="!show_add_position">
    {% include "_add_position_form.html" %}
  </div>
  <div id="add_capital" ng-hide="!show_add_capital">
    {% include "_add_capital_form.html" %}
  </div>
  <div id="split-shares" ng-hide="!show_split">
    {% include "_split_shares_form.html" %}
  </div>

  <!-- TABLE ACTIONS -->
  {% include "_table_actions.html" %}

  <!-- TABLE -->
  <div id="positions" ng-hide="!positions.length">

    <div class="table table-small-font table-centered-mobile">
      <div class="tr th">
        <div class="td">{% trans "Buy Date" %}</div>
        <div class="td td-width-2">{% trans "Buyer" %}</div>
        <div class="td">{% trans "Security" %}</div>
        <div class="td text-right-flex">{% trans "Share Count" %}</div>
        <div class="td text-right-flex">{% trans "Price" %}</div>
        <div class="td">{% trans "Seller" %}</div>
        <div class="td">{% trans "Comment" %}</div>
        <div class="td"></div>
      </div>
      <div>
        {% verbatim %}
      <div ng-repeat="position in positions  | orderBy:'-bought_at' " >
        <div class="tr split-start" ng-show="position.is_split && !positions[$index-1].is_split">
          <div class="td">{{ position.bought_at | date : 'd.MM.yy' }}</div>
          <div class="td">
            {% endverbatim %}{% trans "Grouped split transactions." %}{% verbatim %}
            <a ng-click="toggle_show_split_data()" class="btn-inline" ng-hide="show_split_data">
              {% endverbatim %}{% trans "Show" %}{% verbatim %}
            </a>
            <a ng-click="toggle_show_split_data()" class="btn-inline" ng-show="show_split_data">
              {% endverbatim %}{% trans "Hide" %}{% verbatim %}
            </a>
          </div>
        </div>
        <div class="tr position" ng-hide="position.is_split && !show_split_data">
          <div class="td flex-column" ng-click="goto_position(position.pk)" ng-mouseover="">
            <div>
              <span class="bought-at order-1">{{ position.bought_at | date : 'd.MM.yy' }}</span>
            </div>
            <div ng-show="position.is_draft" class="draft">
              {% endverbatim %}
              {% trans "Draft" %}
              {% verbatim %}
            </div>
          </div>
          <div class="td td-width-2 order-2 buyer-name" ng-click="goto_position(position.pk)" ng-mouseover="">{{ position.buyer.full_name }}</div>
          <div class="td order-5 flex-column td-flex-inline" ng-click="goto_position(position.pk)" ng-mouseover="" >
            <span class="custom-typeface-mobile hidden-md hidden-lg hidden-sm">{{ position.count }}</span>
            <span class="custom-typeface-mobile">{{ position.security.readable_title }}</span>
          </div>
          <div class="hide-mobile td text-right-flex count order-4 flex-column">
            <span class=" medium">
              <span>{{ position.count }}</span>
              <span class="note" ng-show="position.security.track_numbers && position.readable_number_segments">
                (#{{ position.readable_number_segments }})
              </span>
            </span>
          </div>
          <div class="td text-right-flex order-3 td-flex-inline td-border-right flex-column" ng-click="goto_position(position.pk)" ng-mouseover="">
            <b class="custom-typeface-mobile">{{ position.value }}</b>
            <span class="custom-typeface-mobile meta-mobile-only">CHF</span>
          </div>
          <div class="td hidden-xs" ng-click="goto_position(position.pk)" ng-mouseover="">
            <span class="limit-max-height ">{{ position.seller.full_name }}</span>
          </div>
          <div class="td hidden-xs" ng-click="goto_position(position.pk)" ng-mouseover="">{{ position.comment }}</div>
          <div class="td order-6 flex-inline flex-center">
            <div ng-show="position.is_draft">
              <a class="btn-inline btn-icon" ng-click="delete_position(position)" href>
                {% endverbatim %}<i class="gray el-icon-remove-circle"></i>{% verbatim %}
              </a>
            </div>
            <div ng-show="position.is_draft">
              <a class="btn-inline btn-icon" ng-click="confirm_position(position)" href>
                {% endverbatim %}<i class="el-icon-ok-circle"></i>{% verbatim %}
              </a>
            </div>
          </div>
        </div>
        <div class="tr split-end" ng-show="show_split_data && position.is_split && !positions[$index+1].is_split">
          <div class="td">
            {% endverbatim %}{% trans "--- End of split transactions ---" %}{% verbatim %}
          </div>
        </div>
      </div>
    </div>

    </div>
  </div> <!-- END Positions -->

  <div class="empty" ng-hide="positions.length || positionsLoading">
    {% endverbatim %}{% trans "No positions" %}{% verbatim %}
  </div>
  {% endverbatim %}

  <div class="spinner" ng-show="positionsLoading">
    <img src="{% static "compiled/images/loading_spinner.gif" %}" />
  </div>

</div>
{% endblock %}
