{% extends "email/base.html" %}

{% load i18n %}

{% block content %}

{% if charge.paid %}
  <p>
    {% blocktrans with site.name as site_name and charge.amount|floatformat:2 as amount and charge.card_last_4 as card %}
      Your {{ site_name }} account was successfully charged {{ amount }} to the credit card ending in {{ card }}. The invoice below is for your records.
    {% endblocktrans %}
  </p>

  <p>{% trans "INVOICE" %} #darg-{{ charge.invoice.pk }} {{ charge.invoice.date|date:"DATE_FORMAT" }}</p>
  <p>{% trans "CUSTOMER" %}: {{ charge.customer.subscriber }}</p>
  <p>
    {% trans "DETAILS" %}<br />
    {% if invoice_items %}
      {% for item in invoice_items %}
      {% if item.quantity > 1 %}{{ item.quantity }} x {% endif %}{% ifequal item.line_type 'subscription' %}{% trans "Subscription" %} {{ charge.customer.current_subscription.plan_display }}{% else %}{{ item.description }}{% endifequal %} - {{ item.currency|upper }}{{ item.amount|floatformat:2 }}
      {% if not forloop.last %}<br />{% endif %}{% endfor %}
    {% else %}
      {{ charge.customer.current_subscription.plan_display }} - {{ currency|upper }}{{ charge.amount|floatformat:2 }}
    {% endif %}
    <br /><br />
    {% if include_vat %}{% trans "incl. VAT" %} {{ vat }}% - {{ currency|upper }}{{ vat_value|floatformat:2 }}<br /><br />{% endif %}

    <strong>{% trans "TOTAL" %}:</strong> {{ currency|upper }}{{ charge.amount|floatformat:2 }}<br />
    {% trans "PAID BY CREDIT CARD" %}: -{{ currency|upper }}{{ charge.amount|floatformat:2 }}
  </p>
{% else %}

  {% if charge.refunded %}
    <p>
    {% blocktrans with charge.card_last_4 as card and charge.amount|floatformat:2 as amount %}
      Your credit card ending in {{ card }} was refunded {{ amount }}.
    {% endblocktrans %}
    </p>

  {% else %}
    <p>
      {% blocktrans with charge.card_last_4 as card and charge.amount|floatformat:2 as amount %}
        We are sorry, but we failed to charge your credit card ending in {{ card }} for the amount {{ amount }}.
      {% endblocktrans %}
    </p>
  {% endif %}

{% endif %}

<p>
  {% trans "Please contact us with any questions regarding this invoice." %}
</p>

{% endblock content %}
