{% extends "base_auth.html" %}
{% load i18n %}
{% load staticfiles %}
{% load l10n %}
{% load context_help %}
{% load cache %}

{% block ng_app %}js.darg.app.company{% endblock %}

{% block content %}

<!-- required for angular API call -->
<script>var company_id = {{ company.id|unlocalize }}</script>

<div ng_controller="CompanyController" id="company">

  <h1>
    {% trans "Company Details for" %} {% verbatim %}{{ company.name }}{% endverbatim %}
    {% verbatim %}
    <img ng-src="{{ company.logo_url }}" alt="company logo" ng-show="company.logo_url && !loading" class="logo"/>
    {% endverbatim %}
  </h1>

  {% include "_form_errors.html" %}

  <!-- COMPANY LOGO -->
  <h2>{% trans "Company Logo" %}</h2>
  <div>
    {% verbatim %}
    <div class="spinner" ng-show="loading">
      <img src="{% endverbatim %}{% static "compiled/images/loading_spinner.gif" %}{% verbatim %}" />
    </div>
    </div>
  <div class="panel">
    <button class="btn-inline" ngf-select ng-model="file" ngf-multiple="false">Upload File</button>
  </div>
  <p ng-show="pdf_upload_success" class="alert alert-success pdf_upload_success" ng-cloak>
    {% endverbatim %}{% trans "Upload success" %}{% verbatim %}
  </p>
  <p ng-repeat="(name, errs) in pdf_upload_errors" class="alert alert-danger" ng-cloak>
    <strong>{{ errs[0] }}</strong>
  </p>
  <!--<div>
    Upload Log:
    <pre>{{log}}</pre>
  </div>-->
  {% endverbatim %}
 
  <!-- COMPANY SETTINGS -->
  <h2>{% trans "Compeny settings" %}</h2>
  <div class="table table-striped">
    <div class="tr th">
      <div class="td">{% trans "Company Name" %}:</div>
      <div class="td">
        {% verbatim %}
        <span editable-text="company.name" onaftersave="edit_company()">
          {{ company.name || 'empty' }}
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </div>
    </div>
    <div class="tr th">
      <div class="td">
        {% trans "Company Share Count" %}:
      </div>
      <div class="td">
        {% verbatim %}
        <span editable-text="company.share_count" onaftersave="edit_company()">
          {{ company.share_count | number }}
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </div>
    </div>
    <div class="tr th founding-date">
      <div class="td">
        {% trans "The date when the company was registered with public authorities. Date format is dd.mm.YY without leading zero for the day" as msg %}
        {% trans "Company founding date" %} {% context_help msg %}: 
      </div>
      <div class="td date-field">
        {% verbatim %}
        <span editable-bsdate="company.founded_at"
              onaftersave="edit_company()"
              e-showWeeks=false
              e-is-open="datepicker.opened"
              e-ng-click="open_datepicker()"
              e-datepicker-options="datepicker.options"
              e-show-button-bar="true"
              e-close-text="Schliessen"
              e-clear-text="Leeren"
              e-current-text="Heute"
              e-datepicker-popup="{{datepicker.format}}"
              >
            {{ (company.founded_at|date:"dd.MM.yy") || 'nicht angegeben' }}
            <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </div>
    </div>
    <div class="tr th">
      <div class="td">
        {% trans "Provisioned Capital (Liberiertes Kapital)" %}
      </div>
      <div class="td">
        {% verbatim %}
        <span editable-text="company.provisioned_capital" onaftersave="edit_company()">
          {{ (company.provisioned_capital | currency) || 'k.A.' }}
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </div>
    </div>
    <div class="tr th">
      <div class="td">
        {% trans "CHF for one vote based on face value of securities" %}
      </div>
      <div class="td">
        {% verbatim %}
        <span editable-text="company.vote_ratio" onaftersave="edit_company()">
          {{ (company.vote_ratio | number) || 'k.A.' }}
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </div>
    </div>
    <div class="tr th">
      <div class="td">
        {% trans "Company Headquarter Country" %}:
      </div>
      <div class="td">
      {% verbatim %}
        <span editable-select="company.country" onaftersave="edit_company()" e-ng-options="c as c.name for c in countries">
          {{ company.country.name || 'Bitte waehlen' }}
          <span class="el-icon-pencil"></span>
        </span>
      {% endverbatim %}
      </div>
    </div>
    <div class="tr th">
      <div class="td">
          {% trans "Enter names of VR members to appear inside share certificate PDF signature. Separate names with comma" as msg %}
          {% trans "Certificate Signatures" %} {% context_help msg %}
      </div>
      <div class="td">
        {% verbatim %}
        <span editable-text="company.signatures" onaftersave="edit_company()">
          {{ company.signatures || 'empty' }}
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </div>
    </div>
  </div> <!-- end company settings -->

  <!-- COMPANY KPI -->
  <h2>{% trans "Company KPIs" %}</h2>
  <div class="table table-striped">

    {% cache 86400 active-shareholder company %}
    <div class="tr th">
      <div class="td">
        {% trans "This value is calculated every 24hrs." as msg %}
        {% trans "Total count of current shareholders" %} {% context_help msg %}
      </div>
      <div class="td">
        {{company.get_active_shareholders.count }}
      </div>
    </div>
    {% endcache %}
    
    <!-- KPI dispo shareholder -->
    {% if company.get_dispo_shareholder %}
    <div class="tr th">
      <div class="td">
        {% trans "total count of shares of dispo shareholder" %}
      </div>
      <div class="td">
        {{company.get_dispo_shareholder.share_count }}
      </div>
    </div>
    <div class="tr th">
      <div class="td">
        {% trans "total capital of shares of dispo shareholder" %}
        {% trans "based on face value of all shares assigned to dispo shareholder" as msg %}
        {% context_help msg %}
      </div>
      <div class="td">
        {{company.get_dispo_shareholder.cumulated_face_value }} CHF
      </div>
    </div>
    {% endif %}
    
    <!-- management shares -->
    {% if company.has_management %}
    <div class="tr th">
      <div class="td">
        {% trans "total count of shares of management/vr" %}
      </div>
      <div class="td">
        {{company.get_management_share_count }}
      </div>
    </div>
    <div class="tr th">
      <div class="td">
        {% trans "total capital of shares of management/vf" %}
        {% trans "based on face value of all shares assigned to management/vr" as msg %}
        {% context_help msg %}
      </div>
      <div class="td">
        {{company.get_management_cumulated_face_value }} CHF
      </div>
    </div>
    {% endif %}
    
  <!-- company shareholder only: -->
  {% with shareholder=company.get_company_shareholder %}
    {% trans "total capital of the company. math: all shares existing * face value" as msg %}
    <div class="tr th">
      <div class="td">
      {% trans "Provisioned Capital" %}{% context_help msg %} 
      </div>
      <div class="td">
      {{shareholder.company.get_total_capital }} CHF
      </div>
    </div>

    {% if shareholder.company.get_total_share_count %}
    <div class="tr th">
      <div class="td">
        {% trans "Provisioned Share Count" %}
      </div>
      <div class="td">
        {{shareholder.company.get_total_share_count }}
      </div>
    </div>
    {% endif %}

    {% if shareholder.company.get_total_share_count_floating %}
    <div class="tr th">
      <div class="td">
        {% trans "number of shares which are given to shareholders. or overall share count minus dispo shareholder and minus company shareholder" as msg %}
        {% trans "Share Count Floating" %}{% context_help msg %}
      </div>
      <div class="td">
        {{shareholder.company.get_total_share_count_floating }}
      </div>
    </div>
    {% endif %}

    <div class="tr th">
      <div class="td">
        {% trans "total votes count based on existing shares. math: overall share count * face value" as msg %}
        {% trans "Total votes count based on shares existing" %}{% context_help msg %}
      </div>
      <div class="td">
        {{shareholder.company.get_total_votes }}
      </div>
    </div>

    <div class="tr th">
      <div class="td">
        {% trans "total votes count effective. excludes unregistered/dispo shares and shares in company ownership" as msg %}
        {% trans "Total votes count based on shares floating" %}{% context_help msg %}
      </div>
      <div class="td">
        {{shareholder.company.get_total_votes_floating }}
	    <div class="note">
          {% trans "Does include shares used for options. Without options it would be" %}: {{shareholder.company.get_total_votes_eligible }}
        </div>
      </div>
    </div>

    <div class="tr th">
      <div class="td">
        {% trans "Total option count based on shares dedicated to options" %}
      </div>
      <div class="td">
        {{shareholder.company.get_total_options }}
      </div>
    </div>

    <div class="tr th">
      <div class="td">
        {% trans "Total option count based on shares dedicated to options floating" %}
      </div>
      <div class="td">
        {{shareholder.company.get_total_options_floating }}
      </div>
    </div>
  {% endwith %}
  

  </div><!-- table end -->

  <!-- DEPOT STATEMENTS -->
  <h2>{% trans "Depot Statements" %}</h2>
  <p>{% trans "depot statement intro. link to docu" %}</p>
  <div class="table table-striped">
    <div class="tr th" ng-show="company.subscription_features.indexOf('shareholder_statements') > -1">
      <div class="td">
        {% trans "send depot statement with tax declaration each year to shareholders via email. link to docu" as msg %}
        {% trans "Is statement sending enabled" %}  {% context_help msg %}
      </div>
      <div class="td">
        {% verbatim %}
        <span editable-checkbox="company.is_statement_sending_enabled" onaftersave="edit_company()">
          <span class="el-icon-check{{ company.is_statement_sending_enabled ? '' : '-empty' }}"></span>
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </div>
    </div>

    <div class="tr th" ng-show="company.subscription_features.indexOf('shareholder_statements') > -1">
      <div class="td">
        {% trans "send depot statement with tax declaration each year to shareholders via snail mail for those which don't have email or did not open the email. link to docu" as msg %}
        {% trans "Is statement sending via letter enabled" %} {% context_help msg %}
      </div>
      <div class="td">
        {% verbatim %}
        <span editable-checkbox="company.send_shareholder_statement_via_letter_enabled" onaftersave="edit_company()">
          <span class="el-icon-check{{ company.send_shareholder_statement_via_letter_enabled ? '' : '-empty' }}"></span>
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </div>
    </div>

    <div class="tr th statement-send-date"
        ng-show="company.is_statement_sending_enabled && company.subscription_features.indexOf('shareholder_statements') > -1">
      <div class="td">
        {% trans "The date when depot statements are to be sent to the shareholders. Date format is dd.mm.YY without leading zero for the day. After the statements have been sent, this date is increased to the next years same day and month." as msg %}
        {% trans "Statement sending date" %} {% context_help msg %}:
      </div>
      <div class="td date-field">
        {% verbatim %}
        <span editable-bsdate="company.statement_sending_date"
              edit-disabled="{{ company.is_statement_sending_enabled==false }}"
              onaftersave="edit_company()"
              e-showWeeks=false
              e-is-open="datepicker1.opened"
              e-ng-click="open_datepicker1()"
              e-datepicker-options="datepicker1.options"
              e-show-button-bar="true"
              e-close-text="Schliessen"
              e-clear-text="Leeren"
              e-current-text="Heute"
              e-datepicker-popup="{{datepicker1.format}}"
              >
            {{ (company.statement_sending_date|date:"dd.MM.yy") || 'nicht angegeben' }}
            <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </div>
    </div>
  </div> <!-- end table -->


  <!-- SECURITIES -->
  <h2>{% trans "Securities" %}</h2>
  <div class="table table-striped">
    <div class="tr th hide-mobile">
      <div class="td">{% trans "security" %}</div>
      <div class="td">{% trans "cusip" %}</div>
      <div class="td">{% trans "count" %}</div>
      <div class="td">&nbsp;</div>
    </div>
    {% verbatim %}
    <div class="tr th security" ng-repeat="security in company.security_set">
      <div class="td">{{ security.readable_title}}</div>
      <div class="td">{{ security.cusip}}</div>
      <div class="td">{{ security.count | number }}</div>
      <div class="td numbered-segments"  ng-show="security.track_numbers">
        <span />
          {% endverbatim %}{% trans 'tracking security numbers for owners enabled. segments:' %}{% verbatim %}
        </span>
        <span editable-text="security.number_segments" onaftersave="edit_security(security)">
          {{ security.readable_number_segments }}
          <span class="el-icon-pencil"></span>
        </span>
      </div>
      <div class="td" ng-hide="security.track_numbers"></div>
    </div>
    {% endverbatim %}
  </div>

  <div class="alert alert-info" role="alert">
    {% trans 'Please contact us at our' %}
    <a href="mailto:info+helpdesk@das-aktienregister.ch" class="btn-inline">Customer Service Desk</a>
    {% trans 'for getting more security types (common stock, preferred stock, numbered shares) added' %}
  </div>

  <!-- ADMINS -->
  {% if company.operator_set.exists %}
  <h2>
    {% trans "Administrators" %}
    <a ng-click="toggle_add_operator_form()" title="{% trans "add operator" %}" class="btn-inline toggle-add-operator-form" ng-hide="show_add_operator_form">
      +
    </a>
  </h2>

  {% include "_add_operator_form.html" %}

  {% verbatim %}
  <div class="table table-striped operators">
    <div class="tr th" ng-repeat="operator in operators">
      <div class="td">
        {{ operator.user.first_name }} {{ operator.user.last_name }} {{ operator.user.userprofile.company_name }}
      </div>
      <div class="td">
        {{operator.user.email}}
      </div>
      <div class="td">
        <span ng-hide="operator.is_myself" ng-click="delete_operator(operator.id)" class="remove-operator">
          <span class="el-icon-remove-circle"></span>
        </span>
      </div>
    </div>
  </div>
  {% endverbatim %}
  {% endif %}

  <!-- OPTIONS -->
  {% if company.optionplan_set.exists %}
    <h2>{% trans "Option Plans" %}</h2>

  <div class="table table-striped">
    {% for optionplan in company.optionplan_set.all %}
    <div class="tr th">
      <div class="td">    
        {% trans "Options Plan Name" %}
      </div>
      <div class="td">
        <a href="{% url "optionplan" optionplan.pk %}" title="{% trans "Edit Option Plan" %}" class="btn-inline align-left">
          {{ optionplan.title }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endif %}

  <h2>
    {% trans "Administration" %}
  </h2>
  <div class="company-administration">
    <button type="button" class="btn btn-primary btn-default btn-danger" data-toggle="modal" data-target="#companyResetModal">
      {% trans "reset company" %}
    </button>
    <div class="note">
	  {% trans "the company, shareholders, transactions, options, and all other assigned data are deleted. the user can then create the company anew and start fresh" %}
	</div>
	{% include "company/_reset_company_modal.html" %}
  </div>


</div>
{% endblock %}
