{% extends "base_auth.html" %}
{% load i18n %}

{% block content %}
  <h1>{% trans "Subscriptions of your companies" %}</h1>

  <div class="table">
    <div class="tr th">
      <div class="td td-width-2">{% trans "Company" %}</div>
      <div class="td td-width-2">{% trans "Subscription" %}</div>
      <div class="td">&nbsp;</div>
    </div>
    {% for object in object_list %}
      <div class="tr">
        <div class="td td-width-2">
          {{ object.name }}
        </div>
        <div class="td td-width-2">
          {{ object.get_current_subscription_plan_display }}
        </div>
        <div class="td text-right-flex">
          <a href="{% url 'djstripe:account' object.pk %}" class="btn btn-primary">
            {% trans "View" %}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}
