{% load i18n static %}

<!-- {% trans "Please enter your position data:" %} -->
{% verbatim %}
<div class="add-position-form">
  <form class="add-information-inline form">
    <div class="form-group block-level">
      {% endverbatim %} {% trans "On (date)" %} {% verbatim %}
      <span class="input-group date-field">
          <input type="text" class="form-control"
                 ng-model="newPosition.bought_at"
                 uib-datepicker-popup="{{ datepicker.format }}"
                 datepicker-options="datepicker.options"
                 is-open="datepicker.opened"
                 show-button-bar="true"
                 close-text="Schliessen"
                 clear-text="Leeren"
                 current-text="Heute"
                 ng-change="show_available_number_segments();"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open_datepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>

      <!-- --- SELLER -- -->
      {% endverbatim %} {% trans "from" %} {% verbatim %}
      {% endverbatim %}
      {% with model='newPosition.seller' field_name='seller' %}
      {% trans "Seller" as placeholder %}
      {% include "_shareholder_typeahead.html" %}
      {% endwith %}
      {% verbatim %}

      <!-- --- BUYER -- -->
      {% endverbatim %} {% trans "to" %} {% verbatim %}
      {% endverbatim %}
      {% with model='newPosition.buyer' field_name='buyer' %}
      {% trans "Buyer" as placeholder %}
      {% include "_shareholder_typeahead.html" %}
      {% endwith %}
      {% verbatim %}

      <select class="form-control security" ng-model="newPosition.security" ng-options="security as security.readable_title for security in securities" translate translate-attr-placeholder="Security" ng-change="show_available_number_segments();">
        <option value='' disabled>{% endverbatim %}{% trans "Security" %}{% verbatim %}</option>
      </select>
      <input type="number" class="form-control" ng-model="newPosition.count" translate translate-attr-placeholder="Count" ng-maxlength="10">
      <input type="number" class="form-control" ng-model="newPosition.value" translate translate-attr-placeholder="Payed Price" ng-maxlength="10" step=".01">
      <input type="text" class="form-control" ng-model="newPosition.number_segments" translate translate-attr-placeholder="Share IDs" ng-maxlength="255" ng-show="newPosition.security.track_numbers" uib-popover="{{numberSegmentsAvailable}}" popover-placement="bottom">
      <input type="text" class="form-control" ng-model="newPosition.comment" translate translate-attr-placeholder="Comment">
      <div class="optional-forms-box text-center"  ng-hide="show_optional_fields" ng-click="toggle_optional_fields();">
        <p>
          Show optional forms &nbsp;<span class="el-icon-chevron-down"></span>
        </p>
      </div>
      <!-- optional fields -->
      <div class="optional-fields" ng-show="show_optional_fields">
        {% endverbatim %}{% trans "optional fields" %}{% verbatim %}:
        <select class="form-control depot-type" ng-model="newPosition.depot_type" ng-options="depot_type as depot_type.name for depot_type in depot_types" translate translate-attr-placeholder="Depot Type">
          <option value='' disabled>{% endverbatim %}{% trans "Depot Type" %}{% verbatim %}</option>
        </select>
        <input type="text" class="form-control" ng-model="newPosition.stock_book_id" translate translate-attr-placeholder="Stock Book ID">
        <div class="optional-forms-box text-center" ng-click="toggle_optional_fields()">
          <p>
            Hide optional forms &nbsp;<span class="el-icon-chevron-up"></span>
          </p>
        </div>
      </div>
    </div>

    <!-- actions -->
    <div class="form-group custom-form-group">
      <button class="btn btn-default cancel" data-dismiss="modal" ng-click="hide_form()">{% endverbatim %}{% trans "Cancel" %}{% verbatim %}</button>
      <button class="btn btn-focus save-position" ng-click="add_position()">
        <img src="{% endverbatim %}{% static "compiled/images/loading_spinner1_white.png" %}{% verbatim %}" class="loading no-style" ng-show="addPositionLoading">
        {% endverbatim %}{% trans "Add Position" %}{% verbatim %}
      </button>
    </div>

  </form>
</div>
{% endverbatim %}
