{% load i18n %}
{% load static %}

{% trans "Please enter your shareholder data:" %}
{% verbatim %}
<div>
  <form class="form">
    <div class="form-group block-level">
      <input type="text" class="form-control" ng-model="newShareholder.user.first_name" translate translate-attr-placeholder="First Name"/>
      <input type="text" class="form-control" ng-model="newShareholder.user.last_name" translate translate-attr-placeholder="Last Name"/>
      <input type="email" class="form-control" ng-model="newShareholder.user.email" translate translate-attr-placeholder="Email"/>
	  <div>
        <input type="text" class="form-control" ng-model="newShareholder.number" translate translate-attr-placeholder="Shareholder Number"/>
        <span class="get-shareholder-number label label-default form-field-generate-btn" ng-click="get_new_shareholder_number()" ng-show="!newShareholder.number">
          {% endverbatim %}{% trans "generate" %}{% verbatim %}
        </span>
	  </div>
      <input type="hidden" class="form-control" ng-model="newShareholder.company.id" value="{{user.company[0].id}}"/>
    </div>
    <div class="form-group custom-form-group">
      <button class="btn btn-default" data-dismiss="modal" ng-click="hide_form()">{% endverbatim %}{% trans "Cancel" %}{% verbatim %}</button>
      <button class="btn btn-focus" ng-click="add_shareholder()">
        <img src="{% endverbatim %}{% static "compiled/images/loading_spinner1_white.png" %}{% verbatim %}" class="loading no-style" ng-show="addShareholderLoading">
        {% endverbatim %}{% trans "Add Shareholder" %}{% verbatim %}
      </button>
    </div>
  </form>
</div>
{% endverbatim %}
