{% load i18n %}
{% verbatim %}
<div class="table-actions">
  <div class="row">
    <div class="col-lg-3">
      <div class="input-group">
        <input type="search" class="form-control search-input" ng-model="{% endverbatim %}{{prefix}}{% verbatim %}search_params.query" translate translate-attr-placeholder="Search Term here" ng-keyup="$event.keyCode == 13 && {% endverbatim %}{{prefix}}{% verbatim %}search()">
        <span class="input-group-addon search-btn" ng-click="{% endverbatim %}{{prefix}}{% verbatim %}search()"><span class="el-icon-search"></span></span>
      </div>
    </div>    
    <div class="col-lg-3">
      <div class="input-group">
        <select class="form-control" ng-model="{% endverbatim %}{{prefix}}{% verbatim %}search_params.ordering" ng-change="{% endverbatim %}{{prefix}}{% verbatim %}search()" ng-options="option.value as option.name for option in {% endverbatim %}{{prefix}}{% verbatim %}ordering_options">
          <option value='' disabled>{% endverbatim %}{% trans "Sort" %}{% verbatim %}</option>
        </select>
      </div>
    </div>    
    <div class="col-lg-6">
      <div class="input-group pull-right">
        <nav aria-label="Page navigation" ng-show="{% endverbatim %}{{prefix}}{% verbatim %}next || {% endverbatim %}{{prefix}}{% verbatim %}previous" class="pull-right">
          <ul class="pagination">
            <li ng-class="{disabled: !{% endverbatim %}{{prefix}}{% verbatim %}previous}">
							<a aria-label="Previous" ng-click="{% endverbatim %}{{prefix}}{% verbatim %}previous_page()" class="paginate-previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li>
              <a>
              {% endverbatim %}{% templatetag openvariable %} {{prefix}}current_range {% templatetag closevariable %}/{% templatetag openvariable %} {{prefix}}total {% templatetag closevariable %}{% verbatim %}
              </a>
            </li>
            <li ng-class="{disabled: !{% endverbatim %}{{prefix}}{% verbatim %}next}">
              <a aria-label="Next" ng-click="{% endverbatim %}{{prefix}}{% verbatim %}next_page()" class="paginate-next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>    
  </div>
</div>
{% endverbatim %}
