{% load i18n %}
{% verbatim %}
<input type="text" ng-model="{% endverbatim %}{{ model }}{% verbatim %}" 
                   placeholder="{% endverbatim %}{{ placeholder }}{% verbatim %}" 
                   uib-typeahead="obj as obj.full_name for obj in {% endverbatim %}{{ rest_search_method }}{% verbatim %}($viewValue)" 
                   typeahead-loading="loading_{% endverbatim %}{{ field_name }}{% verbatim %}" 
                   typeahead-no-results="no_{% endverbatim %}{{ field_name }}{% verbatim %}" 
                   class="form-control {% endverbatim %}{{ field_name }}{% verbatim %}"
                   translate translate-attr-placeholder="{% endverbatim %}{{ placeholder }}{% verbatim %}"
                   typeahead-wait-ms="300"
                   {% endverbatim %}{% if field_namei == "buyer" or field_name == "seller" %}ng-change="show_available_number_segments();" {% endif %}{% verbatim %}
                   >

<i ng-show="loading_{% endverbatim %}{{ field_name }}{% verbatim %}" class="glyphicon glyphicon-refresh"></i>

<div ng-show="no_{% endverbatim %}{{ field_name }}{% verbatim %}">
  <i class="glyphicon glyphicon-remove"></i> {% endverbatim %}{% trans "No Results Found" %}{% verbatim %}
</div>
{% endverbatim %}
