{% extends "base_auth.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
  <TITLE>{% trans "Captable" %} - Das Aktienregister</TITLE>
{% endblock %}

{% block ng_app %}js.darg.app.start{% endblock %}

{% block content %}
<div ng_controller="StartController">

  <!-- FORM ERRORS -->
  {% include "_form_errors.html" %}

  <div id="add_company" class="add-company-container" ng-show="user.selected_company==null && !loading">
    {% include "_add_company_form.html" %}
  </div>

  {% verbatim %}

  <!-- spinner -->
  <div class="spinner text-center" ng-show="loading">
    <img src="{% endverbatim %}{% static "compiled/images/loading_spinner.gif" %}{% verbatim %}" />
  </div>

  <!-- table per company -->
  <div id="shareholder_list" ng-show="user.selected_company && !loading">

    <h1 class="captable-heading">
      {% endverbatim %}{% trans "Your Shareholders for" %}{% verbatim %}
      {{ company.name }}
      <img ng-src="{{ company.logo_url }}" alt="company logo" ng-show="company.logo_url"class="logo" style="width: 40px"/>
      <a href="{{ company.profile_url }}" class="el-icon-cogs-wrapper btn-inline">
        <span class="el-icon-cogs"></span>
      </a>
    </h1>

    <!-- ACTIONS -->
    <div class="panel" ng-hide="show_add_shareholder">
      <a class="btn btn-focus" data-toggle="modal" data-target="#addShareholder" href="" ng-click="show_add_shareholder_form()">
        {% endverbatim %}{% trans "Add Shareholder" %}{% verbatim %}
      </a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addShareholder" tabindex="-1" role="dialog" aria-labelledby="addShareholderLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addShareholderLabel">{% endverbatim %}{% trans "Add Shareholder" %}{% verbatim %}</h4>
          </div>
          <div class="modal-body">
            {% endverbatim %}
              {% include "_form_errors.html" %}
            {% verbatim %}
            <!-- add shareholder success -->
            <p class="shareholder-added-success alert alert-success" ng-show="shareholder_added_success">
              {% endverbatim %}{% trans "Shareholderr added. record share transfers here" %}{% verbatim %}
            </p>
            <div id="add_shareholder" ng-hide="user.selected_company==null  || !show_add_shareholder">
              {% endverbatim %}{% include "_add_shareholder_form.html" %}{% verbatim %}
            </div>
          </div>
        </div>
      </div>
    </div>


	<p class="panel" ng-show="shareholders.length < 10 ">
	{% endverbatim %}
	{% trans "Need more advices? Read" %}
	<a href="/aktienbuch/quickstart/" title="{% trans "share register quickstart guide" %}" target="_blank">
	  {% trans "our quickstart tutorial!" %}
	</a>
	{% verbatim %}
	</p>

	<!-- --- SHARES --- -->
	<h2 ng-show="shareholders.length > 1" >{% endverbatim %}{% trans "Share Ownership" %}{% verbatim %}</h2>

    <!-- TABLE ACTIONS -->
	{% endverbatim %}
	<div ng-hide="shareholders.length < 2">
	{% include "_table_actions.html" %}
	</div>
	{% verbatim %}

    <!-- TABLE -->
    <div class="table" ng-hide="shareholders.length < 2">
      <div class="tr th hide-mobile">
        <div class="td td-width-2 ">{% endverbatim %}{% trans "Name" %}{% verbatim %}</div>
        <div class="td text-right-flex">{% endverbatim %}{% trans "Shareholder Number" %}{% verbatim %}</div>
        <div class="td text-right-flex">{% endverbatim %}{% trans "Shares (%%)" %}{% verbatim %}</div>
      </div>
      <div class="tr shareholder" ng-repeat="shareholder in shareholders" ng-click="goto_shareholder(shareholder.pk)" ng-mouseover="">
        <div class="td td-width-2 order-1 full-name buyer-name">
          <span class="el-icon-exclamation-sign" ng-hide="shareholder.validate_gafi.is_valid" data-toggle="tooltip" title="{% endverbatim %}{% trans "Gafi Validation failed" %}{% verbatim %}"></span><span class="truncate">{{ shareholder.full_name }}</span></div>
        <div class="td text-right-flex order-2 number">{{ shareholder.number }}</div>
        <div class="td text-right-flex order-4 gray-circle">
          <value class='transform-center' ng-if="shareholder.share_count != '-'">
              {{ shareholder.share_count | number }}
              <span class="shares-count" ng-hide="shareholder.is_company">
                  ({{shareholder.share_percent | number : 1}}%)
              </span>
          </value>
        </div>
      </div>
      <div class="tr totals">
        <div class="td summary td-width-3 no-before">
          <value ng-if="option_holder.options_count != '-'">
            {% endverbatim %}{% trans "Total Shares distributed" %}{% verbatim %}
          </value>
        </div>
        <div class="td summary text-right-flex">
          {{ company.share_count | number }}
        </div>
      </div>
    </div><!-- /table-->

    <!-- --- OPTIONS --- -->
	<h2 class="split-header" ng-show="option_holders.length" >{% endverbatim %}{% trans "Option Holders" %}{% verbatim %}</h2>
	<div class="note" ng-show="option_holders.length" >{% endverbatim %}{% trans "Option Holders note" %}{% verbatim %}</div>

    <!-- TABLE ACTIONS -->
	<div ng-show="option_holders.length">
    {% endverbatim %}
    {% with prefix="optionholder_" %}
	{% include "_table_actions.html" %}
	{% endwith %}
	{% verbatim %}
	</div>

	<!-- TABLE -->
    <div class="table">
      <div class="tr option-holders" ng-show="option_holders.length" ng-repeat="option_holder in option_holders  | orderBy:'-share_count'" ng-click="goto_shareholder(option_holder.pk)" ng-mouseover="">
        <div class="td td-width-2 order-1 option-holders full-name">{{ option_holder.full_name }}</div>
        <div class="td text-right-flex number order-2">{{ option_holder.number }}</div>
        <div class="td text-right-flex share shareholders-count gray-circle">
          <value class='transform-center' ng-if="option_holder.options_count != '-'">
            {{ option_holder.options_count | number }} ({{option_holder.options_percent | number: 2}}%)
          </value>
        </div>
      </div>
    </div>

  </div> <!-- end table per comp -->
  {% endverbatim %}
</div>
{% endblock %}
