{% load static i18n shareholder_tags %}

<div id="history-table">
  <h2>
    {% trans "Payment History" %}
    <img class="in-progress-gif" src="{% static 'img/in-progress.gif' %}" /></h2>

    <div class="table">
      <div class="tr th">
        <div class="td td-width-2">{% trans "Invoice Number" %}</div>
        <div class="td td-width-2">{% trans "Date" %}</div>
        <div class="td text-right-flex">{% trans "Amount" %}</div>
      </div>
      {% for invoice in customer.invoices.all  %}
        <div class="tr">
          <div class="td td-width-2">
            {% if invoice.has_invoice_pdf %}
              <a href="{% url 'djstripe:invoice' customer.subscriber_id invoice.pk %}">
            {% endif %}
              #{{ invoice.pk }}
            {% if invoice.has_invoice_pdf %}</a>{% endif %}
          </div>
          <div class="td td-width-2">
            {{ invoice.date|date:'DATE_FORMAT' }}
          </div>
          <div class="td text-right-flex">
            {% if invoice.paid %}
              <p>
                <span class="label label-success">{% trans "Paid" %}</span>
                {% get_invoice_currency invoice %}{{ invoice.total|floatformat:"2" }}
              </p>
            {% endif %}

            {% if invoice.paid and invoice.total < 0 %}
              <p>
                <span class="label label-success">{% trans "Credit" %}</span>
                {% get_invoice_currency invoice %}{{ invoice.total|floatformat:"2" }}
              </p>
            {% endif %}
          </div>
        </div>
      {% empty %}
        <div class="tr">
          <div class="td td-width-2">
            <img class="in-progress-gif" src="{% static 'img/in-progress.gif' %}" />
          </div>
        </div>
      {% endfor %}
    </div>
</div>
