{% extends "djstripe/base.html" %}

{% load i18n %}

{# {% block title %}{% trans "Payment History" %}{% endblock title %} #}

{% block content %}
  {% include "djstripe/includes/_history_table.html" %}
  <p>
    {% url 'djstripe:account' customer.subscriber_id as account_url %}
    {% blocktrans with account_url as account_url %}
      Go back to your <a href="{{ account_url }}">Account</a>.
    {% endblocktrans %}
  </p>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script>
  $(function() {
    $.post("{% url 'djstripe:sync_history' company_id=customer.subscriber_id %}", function(data) {
      $('#history-table').html(data);
      $('.in-progress-gif').hide();
    });
  });
</script>
{% endblock scripts %}
