{% load i18n djstripe_tags shareholder_tags %}
<div class="heading">{{ plan.name }}</div>
<div class="target">{{ plan.description }}</div>
<div class="price">
  <p class="note">{{ plan.currency|upper }} {% trans "per" %} {% trans plan.interval %}</p>
  <p>{{ plan.price|djdiv:100|floatformat:'2' }}</p>
  <p class="note">
    {% get_plan_price_per_shareholder plan as shareholder_price %}
    {% if shareholder_price %}
      + {{ plan.currency|upper }}
      {{ shareholder_price|djdiv:100|floatformat:'2' }} / {% trans "Shareholder" %}
    {% else %}
      &nbsp;
    {% endif %}
  </p>
</div>

<!-- display toggle -->
<div ng-hide="showFeatures" ng-click="showFeatures=!showFeatures">
  {% trans "Show subscription details" %}&nbsp;<span class="el-icon-chevron-down"></span>
</div>
<div ng-show="showFeatures" ng-click="showFeatures=!showFeatures">
  {% trans "Hide subscription details" %}&nbsp;<span class="el-icon-chevron-down"></span>
</div>

<!-- FEATURES -->
<div ng-show="showFeatures">
{% get_plan_features plan.plan as plan_features %}
{% if plan_features.core %}
  <hr>
  <div class="core-features">
    <ul>
      {% for feature in plan_features.core %}
        <li>
          {% if feature.highlight %}<strong>{{ feature.highlight }}</strong>{% endif %}
          {{ feature.title }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% if plan_features.features %}
  <hr>
  <div class="features">
    <ul>
      {% for feature in plan_features.features %}
        <li{% if feature.exclude %} class="excluded"{% endif %}>
          {{ feature.title }}
          {% if feature.annotation %}{{ feature.annotation_marker }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
</div>


