{% extends "base_auth.html" %}
{% load i18n %}

{% block title %}
  <TITLE>{% trans "Optiontransaction" %} {{ optiontransaction.pk }} - Das Aktienregister</TITLE>
{% endblock %}

{% block ng_app %}js.darg.app.optiontransaction{% endblock %}

{% block content %}

<!-- required for angular API call -->
<script>
  var optiontransaction_id = {{ optiontransaction.id}};
</script>

<div ng_controller="OptionTransactionController" id="optiontransaction-detail">

  <h1>{% trans "Optiontransaction Details" %}</h1>

  {% include "_form_errors.html" %}

  {# core data #}
  <div class="table table-striped">
    <div class="tr th buyer">
      <div class="td">
        {% trans "Buyer" %}:
      </div>
      <div class="td">
        {% verbatim %}<a href="/shareholder/{{optiontransaction.buyer.pk}}/" >{{ optiontransaction.buyer.full_name }}</a>{% endverbatim %}
      </div>
    </div>
    <div class="tr th seller">
      <div class="td">
        {% trans "Seller" %}:
      </div>
      <div class="td">
        {% verbatim %}<a href="/shareholder/{{optiontransaction.seller.pk}}/" >{{ optiontransaction.seller.full_name }}</a>{% endverbatim %}
      </div>
    </div>
    <div class="tr th bought-at">
      <div class="td">
        {% trans "Date" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ optiontransaction.bought_at | date : 'd.MM.yy' }} {% endverbatim %}
      </div>
    </div>
    <div class="tr th count">
      <div class="td">
        {% trans "Count" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ optiontransaction.count }} {% endverbatim %}
      </div>
    </div>
    <div class="tr th option-plan">
      <div class="td">
        {% trans "Option Plan" %}:
      </div>
      <div class="td">
        {% verbatim %}<a href="/optionsplan/{{optiontransaction.option_plan.pk}}/">{{ optiontransaction.option_plan.title }}</a>{% endverbatim %}
      </div>
    </div>
    <div class="tr th vesting-months" ng-show="optiontransaction.vesting_months">
      <div class="td">
        {% trans "Vesting (in months)" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ optiontransaction.vesting_months }} {% endverbatim %}
      </div>
    </div>
    <div class="tr th registration-type" ng-show="optiontransaction.readable_registration_type">
      <div class="td">
        {% trans "Registration Type" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ optiontransaction.readable_registration_type}}{% endverbatim %}
      </div>
    </div>
    <div class="tr th depot-type" ng-show="optiontransaction.readable_depot_type">
      <div class="td">
        {% trans "Depot Type" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ optiontransaction.readable_depot_type}}{% endverbatim %}
      </div>
    </div>
    <div class="tr th stock-book-id" ng-show="optiontransaction.stock_book_id">
      <div class="td">
        {% trans "Stick Book ID" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ optiontransaction.stock_book_id}}{% endverbatim %}
      </div>
    </div>
    <div class="tr th certificate-id" ng-show="optiontransaction.certificate_id">
      <div class="td">
        {% trans "Certificate ID" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ optiontransaction.certificate_id }} {% endverbatim %}
      </div>
    </div>
    <div class="tr th number-segments" ng-show="optiontransaction.option_plan.security.track_numbers && optiontransaction.number_segments">
      <div class="td">
        {% trans "Number Segments" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ optiontransaction.number_segments}}{% endverbatim %}
      </div>
    </div>
  </div>
      

  <!-- print func -->
  {% verbatim %}
  <div class="print-certificate">
    <a class="btn btn-focus" ng-show="!optiontransaction.printed_at && optiontransaction.certificate_id" href="{% endverbatim %}{% url "option_pdf" option_id=optiontransaction.pk %}{% verbatim %}" target="_blank">
    {% endverbatim %}{% trans "Print certificate" %}{% verbatim %}
  </a>
    <a class="btn btn-focus" ng-show="optiontransaction.printed_at && optiontransaction.certificate_id" href="{% endverbatim %}{% url "option_pdf" option_id=optiontransaction.pk %}{% verbatim %}" target="_blank">
    {% endverbatim %}{% trans "Print certificate copy" %}{% verbatim %}
  </a>
    <div class="note" ng-show="optiontransaction.printed_at" style="display: inline">
      {% endverbatim %}{% trans "first printed at" %}{% verbatim %}: {{ optiontransaction.printed_at  | date : 'd.MM.yy' }}
    </div>
  </div>
  {% endverbatim %}
</div>
{% endblock %}
