{% extends "base_auth.html" %}
{% load i18n %}

{% block title %}
  <TITLE>{% trans "Position" %} {{ position.pk }} - Das Aktienregister</TITLE>
{% endblock %}

{% block ng_app %}js.darg.app.position{% endblock %}

{% block content %}

<!-- required for angular API call -->
<script>
  var position_id = {{ position.id}};
</script>

<div ng_controller="PositionController" id="position-detail">

  <h1>{% trans "Position Details" %}</h1>

  {% include "_form_errors.html" %}

  {# core data #}
  <div class="table table-striped">
    <div class="tr th type">
      <div class="td">
        {% trans "Position Type" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ position.position_type}}{% endverbatim %}
      </div>
    </div>
    <div class="tr th buyer">
      <div class="td">
        {% trans "Buyer" %}:
      </div>
      <div class="td">
        {% verbatim %}<a href="/shareholder/{{position.buyer.pk}}/" >{{ position.buyer.full_name}}</a>{% endverbatim %}
      </div>
    </div>
    <div class="tr th seller" ng-show="position.seller">
      <div class="td">
        {% trans "Seller" %}:
      </div>
      <div class="td">
        {% verbatim %}<a href="/shareholder/{{position.seller.pk}}/" >{{ position.seller.full_name}}</a>{% endverbatim %}
      </div>
    </div>
    <div class="tr th security-title">
      <div class="td">
        {% trans "Security" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ position.security.readable_title}}{% endverbatim %}
        ({% trans "Valor" %}: {% verbatim %}{{ position.security.cusip }} {% endverbatim %})
      </div>
    </div>
    <div class="tr th count">
      <div class="td">
        {% trans "Count" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ position.count}}{% endverbatim %}
      </div>
    </div>
    <div class="tr th date">
      <div class="td">
        {% trans "Date" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ position.bought_at| date : 'd.MM.yy'}}{% endverbatim %}
      </div>
    </div>
    <div class="tr th value" ng-show="position.value">
      <div class="td">
        {% trans "Value" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ position.value}}{% endverbatim %}
      </div>
    </div>
    <div class="tr th number-segments" ng-show="position.security.track_numbers && position.number_segments">
      <div class="td">
        {% trans "Number Segments" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ position.number_segments}}{% endverbatim %}
      </div>
    </div>
    <div class="tr th registration-type" ng-show="position.readable_registration_type">
      <div class="td">
        {% trans "Registration Type" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ position.readable_registration_type}}{% endverbatim %}
      </div>
    </div>
    <div class="tr th depot-type" ng-show="position.readable_depot_type">
      <div class="td">
        {% trans "Depot Type" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ position.readable_depot_type}}{% endverbatim %}
      </div>
    </div>
    <div class="tr th stock-book-id" ng-show="position.stock_book_id">
      <div class="td">
        {% trans "Stock Book ID" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ position.stock_book_id}}{% endverbatim %}
      </div>
    </div>
    <div class="tr th certificate-id" ng-show="position.certificate_id">
      <div class="td">
        {% trans "Certificate ID" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ position.certificate_id}}{% endverbatim %}
      </div>
    </div>
    <div class="tr th vesting-months" ng-show="position.vesting_months">
      <div class="td">
        {% trans "Vesting period in months" %}:
      </div>
      <div class="td">
        {% verbatim %}{{ position.vesting_months}}{% endverbatim %}
      </div>
    </div>
  </div>
            

  <!-- print func -->
  {% verbatim %}
  <div class="print-certificate">
    <a class="btn btn-focus" ng-show="!position.printed_at && position.certificate_id" href="{% endverbatim %}{% url "position_option_pdf" option_id=position.pk %}{% verbatim %}" target="_blank">
	  {% endverbatim %}{% trans "Print certificate" %}{% verbatim %}
	</a>
    <a class="btn btn-focus" ng-show="position.printed_at && position.certificate_id" href="{% endverbatim %}{% url "position_option_pdf" option_id=position.pk %}{% verbatim %}" target="_blank">
	  {% endverbatim %}{% trans "Print certificate copy" %}{% verbatim %}
	</a>
    <div class="note" ng-show="position.printed_at" style="display: inline">
      {% endverbatim %}{% trans "first printed at" %}{% verbatim %}: {{ position.printed_at  | date : 'd.MM.yy' }}
    </div>
  </div>
  {% endverbatim %}
</div>
{% endblock %}
