{% extends "base_auth.html" %}
{% load i18n %}

{% block title %}
  <TITLE>{% trans "Shareholder" %}: {{ shareholder.get_full_name }} (#{{ shareholder.number }}) - Das Aktienregister</TITLE>
{% endblock %}

{% block ng_app %}js.darg.app.shareholder{% endblock %}

{% block content %}

<!-- required for angular API call -->
<script>
  var shareholder_id = {{ shareholder.id}};
</script>

<div ng_controller="ShareholderController">

  <h1>{% trans "Shareholder Details" %}</h1>

  {% include "_form_errors.html" %}

  <h2>{% trans "Shareholder Data" %}</h2>

  {# gafi warning #}
  {% if not shareholder.validate_gafi.is_valid %}
  <div class="alert alert-warning alert-dismissible alert-gafi"  role="alert">
    <div> <strong>{% trans "GAFI Validierung:" %}</strong></div>
    {% for error in shareholder.validate_gafi.errors %}
    <div>{{ error }}</div>
    {% endfor %}
    <div> {% trans "Please request the shareholder to complete his data." %}</div>
  </div>
  {% endif %}

  {# core data #}
  <table class="table table-striped small-font-size">
    <tr class="shareholder-number">
      <td>{% trans "Shareholder Number" %}:</td>
      <td>
        {% verbatim %}<span editable-text="shareholder.number" onaftersave="edit_shareholder()">{{ shareholder.number || '' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
      </td>
    </tr>
    <tr class="title">
      <td>
        {% trans "Title" %}:
      </td>
      <td>
        {% verbatim %}<span editable-text="shareholder.user.userprofile.title" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.title || 'Titel' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
      </td>
    </tr>
    <tr class="salutation">
      <td>
        {% trans "Salutation" %}:
      </td>
      <td>
        {% verbatim %}<span editable-text="shareholder.user.userprofile.salutation" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.salutation || 'Anrede' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
      </td>
    </tr>
    <tr class="full-name">
      <td>
        {% trans "First Name, Last Name" %}:
      </td>
      <td>
        {% verbatim %}<span editable-text="shareholder.user.first_name" onaftersave="edit_shareholder()">{{ shareholder.user.first_name || 'Vorname' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
        {% verbatim %}<span editable-text="shareholder.user.last_name" onaftersave="edit_shareholder()">{{ shareholder.user.last_name || 'Nachname' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
      </td>
    </tr>
    <tr class="user-email">
      <td>{% trans "Shareholder Email" %}:</td>
      <td>
        {% verbatim %}<span editable-text="shareholder.user.email" onaftersave="edit_shareholder()">{{ shareholder.user.email || '' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
      </td>
    </tr>
    <tr class="legal-type">
      <td>{% trans "Shareholder Legal Type" %}:</td>
      <td>
        {% verbatim %}
        <span editable-select="shareholder.user.userprofile.legal_type" onaftersave="edit_shareholder()" e-ng-options="l as l.name for l in legal_types">
          {{ shareholder.user.userprofile.readable_legal_type || 'Aktionaersart' }}
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </td>
    </tr>
    <tr>
      <td>{% trans "Shareholder Company Name" %}:</td>
      <td>
        {% verbatim %}<span editable-text="shareholder.user.userprofile.company_name" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.company_name || '' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
      </td>
    </tr>
    <tr class="company-department">
      <td>{% trans "Shareholder Company Department" %}:</td>
      <td>
        {% verbatim %}<span editable-text="shareholder.user.userprofile.company_department" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.company_department || '' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
      </td>
    </tr>
    <tr class="mailing-type">
      <td>{% trans "Mailing Type" %}:</td>
      <td>
        {% verbatim %}
        <span editable-select="shareholder.mailing_type" onaftersave="edit_shareholder()" e-ng-options="l as l.name for l in mailing_types">
          {{ shareholder.readable_mailing_type || 'Versandart' }}
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </td>
    </tr>
    <tr>
      <td>
        <strong>{% trans "Address" %}:</strong><br/>
        {% trans "Street" %}<br/>
        {% trans "Street2" %}<br/>
        {% trans "Zip" %} {% trans "City" %}<br/>
        {% trans "Province" %}<br/>
        {% trans "Country" %}<br/>
        {% trans "P.O. Box" %}<br/>
        {% trans "c/o" %}
      </td>
      <td>
        <br/>
        {% verbatim %}
        <span editable-text="shareholder.user.userprofile.street" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.street || 'Street' }} <span class="el-icon-pencil"></span></span>
        <br/>
        <span editable-text="shareholder.user.userprofile.street2" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.street2 || 'Street2' }} <span class="el-icon-pencil"></span></span>
        <br/>
        <span editable-text="shareholder.user.userprofile.postal_code" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.postal_code || 'PLZ' }} <span class="el-icon-pencil"></span></span>
        <span editable-text="shareholder.user.userprofile.city" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.city || 'City' }} <span class="el-icon-pencil"></span></span>
        <br/>
        <span editable-text="shareholder.user.userprofile.province" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.province || 'Province' }} <span class="el-icon-pencil"></span></span>
        <br/>
        <span editable-select="shareholder.user.userprofile.country" onaftersave="edit_shareholder()" e-ng-options="c as c.name for c in countries">
          {{ shareholder.user.userprofile.country.name || 'Country' }}
          <span class="el-icon-pencil"></span>
        </span>
        <br/>
        <span editable-text="shareholder.user.userprofile.pobox" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.pobox || 'P.O. Box' }} <span class="el-icon-pencil"></span></span>
        <br/>
        <span editable-text="shareholder.user.userprofile.c_o" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.c_o || 'c/o' }} <span class="el-icon-pencil"></span></span>
        <br/>
        {% endverbatim %}
      </td>
    </tr>
    <tr>
      <td>{% trans "Nationality" %}:</td>
      <td>
        {% verbatim %}
        <span editable-select="shareholder.user.userprofile.nationality" onaftersave="edit_shareholder()" e-ng-options="c as c.name for c in countries">
          {{ shareholder.user.userprofile.nationality.name || 'Nationality' }}
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </td>
    </tr>
    <tr>
      <td>{% trans "Shareholder Language" %}:</td>
      <td>
        {% verbatim %}
        <span editable-select="shareholder.user.userprofile.language" onaftersave="edit_shareholder()" e-ng-options="l as l.name for l in languages">
          {{ shareholder.user.userprofile.readable_language || 'Language' }}
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </td>
    </tr>
    <tr class="birthday">
      <td>{% trans "Shareholder Birthday" %}:</td>
      <td class="date-field">
        {% verbatim %}
        <span editable-bsdate="shareholder.user.userprofile.birthday"
              onaftersave="edit_shareholder()"
              e-showWeeks=false
              e-is-open="datepicker.opened"
              e-ng-click="open_datepicker()"
              e-datepicker-options="datepicker.options"
              e-show-button-bar="true"
              e-close-text="Schliessen"
              e-clear-text="Leeren"
              e-init-date=""
              e-current-text="Heute"
              e-datepicker-popup="{{datepicker.format}}"
              >
            {{ (shareholder.user.userprofile.birthday|date:"dd.MM.yy") || 'nicht angegeben' }}
            <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </td>
    </tr>
    <tr>
      <td>{% trans "Value of all shares according to last transaction" %}:</td>
      <td>{{ shareholder.share_value }}</td>
    </tr>
    <tr>
      <td>{% trans "Voting rights total count" %}:</td>
      {# company shareholder does not have voting rights #}
      <td>{% if not shareholder.is_company_shareholder %}{{ shareholder.vote_count }}{% else %}0{% endif %}</td>
    </tr>
     <tr>
      <td>{% trans "Voting rights percent" %}:</td>
      <td>{% verbatim %}{{ shareholder.vote_percent | percentage:2 }}{% endverbatim %}</td>
    </tr>
   </table>

  <!-- OWNED STOCK -->
  <h2>{% trans "Owned Stock" %}</h2>
  <p>{% trans "Count Shares Total" %}: {{ shareholder.share_count }}</p>
    <p>{% trans "% Ownership" %}: {{ shareholder.share_percent }}% </p>
    <div class="table-responsive">
      <table class="stock table table-striped">
        <thead><tr>
          <th>{% trans "security" %}</th>
          <th>{% trans "cusip" %}</th>
          <th>{% trans "shares owned" %}</th>
          <th>{% trans "options owned" %}</th>
          {% if security.track_numbers %}<th>{% trans "share segments" %}</th>{% endif %}
        </tr></thead>
        {% for security in securities %}
        <tr class="security">
          <td class="name">{{ security }}</td>
          <td class="cusip">{% if security.cusip %}{{ security.cusip }}{% endif %}</td>
  	      <td class="count">{{ security.count }}</td>
  	      <td class="count">{{ security.options_count }}</td>
  	      {% if security.segments %}<td class="number-segments">{{ security.segments }}</td>{% endif %}
  	    </tr>
        {% endfor %}
      </table>
    </div>
  <!-- <a class="btn btn-focus btn-danger" title="{% trans "Delete shareholder" %}" >{% trans "Delete shareholder" %}</a> -->

</div>
{% endblock %}
